{{#each this.sortedList as |pair|}}
    <div local-class='subject-container {{if this.isMobile 'mobile'}}'>
        {{#each pair as |subject|}}
            <div local-class='subject-item'>
                <OsfLink
                    data-test-taxonomy-link
                    data-analytics-name='Preprints taxonomy link'
                    local-class='btn subject-button'
                    @href={{concat 'discover/' (query-params subject=subject.path) }}
                >
                    {{subject.text}}
                </OsfLink>
            </div>
        {{/each}}
    </div>
{{/each}}
