{{#each this.sortedList as |pair|}}
    <div class='subject row m-b-sm'>
        {{#each pair as |subject|}}
            <div class='col-xs-12 col-sm-6 subject-item'>
                <OsfLink
                    data-test-taxonomy-link
                    data-analytics-name='Preprints taxonomy link'
                    class='btn btn-primary p-sm' 
                    @href={{concat (this.routePrefix 'discover') (query-params subject=subject.path) }}
                >
                    {{subject.text}}
                </OsfLink>
            </div>
        {{/each}}
    </div>
{{/each}}
