<div local-class='LabelWrapper' ...attributes>
    <span local-class='Label'>
        {{@label}}
    </span>

    {{#if this.showCount}}
        <span local-class='Count'>
            {{@count}}
        </span>
    {{/if}}
</div>
