<div local-class='LabelWrapper' ...attributes>
    <span data-test-label>
        {{@label}}
    </span>

    {{#if this.showCount}}
        <span data-test-count>
            {{@count}}
        </span>
    {{/if}}
</div>
