.ContentBackground {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    justify-content: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/bg-light.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1);
    }
}
