.ContentBackground {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    justify-content: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/bg-light.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1);
    }
}

.Hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background: url('images/default-brand/bg-dark.jpg');
    background-size: cover;
    display: block;
    align-items: center;


    h1 {
        color: $color-text-white;
        font-size: large;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
    }
}

.FileProviders {
    display: flex;
    flex-direction: column;
}

.FileProvider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid $color-border-gray-darker;
    padding-left: 17px;
    margin: 0 18px;
    padding-top: 2px;

    :global(.active) {
        border-left: 4px solid $color-black;
        font-weight: 700;
        padding-left: 16px;
        margin-left: -20px;
    }
}

.FileProviderIcon {
    font-size: 16px;
}

.FileBrowser {
    padding: 30px;
}
