// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.preprints-details-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-container {
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-text-white;
        background: var(--hero-background-img-url);

        .preprint-author-container,
        .preprint-title-container {
            width: calc(100% - 100px);
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .btn {
                display: inline-block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                touch-action: manipulation;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 2px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857;
                user-select: none;
                vertical-align: middle;
                color: $color-text-white;
            }

            .btn-primary {
                color: $color-text-white;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
        
            .view-authors {
                color: $color-text-white;
                padding-bottom: 15px;

                a {
                    color: #6dd1de;
                }

                .detail-header-label {
                    font-size: 11px;
                    text-transform: uppercase;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

.bottom-margin {
    margin-bottom: 50px;
}

.pointer {
    cursor: pointer;
}

.popover {
    max-width: 100%;
}

.popover-button {
    margin-left: 7px;
    height: 34px;
}

.popover-content {
    background: #000;
    overflow: auto;

    .form-group {
        margin-bottom: 0;
        width: 150px;
    }
}

.flexbox {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.social-icons {
    padding: 15px;
}

.plaudit-widget {
    flex: auto;
    padding-right: 33px;
}


@media (max-width: 768px) {
    .preprint-title-container {
        flex-direction: column;
        align-items: center;
    }

    .edit-preprint-button {
        margin-top: 0;
    }
}
