{{title (t 'quickfiles.title' user-name=model.fullName)}}

{{quickfile-nav user=model onQuickfiles=true}}
<div class='quickfiles-content container'>
    <h5><i>{{t 'quickfiles.description'}}</i></h5>
    {{file-browser user=model openFile=(action 'openFile')}}
</div>
