{{title (t 'settings.tokens.title')}}
<div class='panel panel-default'>
    <div class='panel-heading clearfix'>
        <h3 class='panel-title'>{{t 'settings.tokens.title'}}</h3>
    </div>
    <div
        data-analytics-scope='Tokens'
        class='panel-body'
    >
        {{outlet}}
    </div>
</div>