// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.preprints-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preprint-header {
        border-bottom: 1px solid var(--primary-color);
        width: 100%;
        background-color: var(--secondary-color);
        color: var(--primary-color) !important;

        a:not(.btn) {
            color: var(--primary-color);
            text-decoration: underline;
        }

        .description {
            color: var(--primary-color);
        }

        .submit-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--primary-color);

            .or-container {
                font-size: 21px;
                margin-bottom: 20px;
                font-weight: 300;
                line-height: 1.4;
                color: $color-white;
        
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .example-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    /* Subject Panel */
    .preprint-subjects-container {
        background-color: $color-gray-light;
        border-bottom: 1px solid $color-gray-blue;
        padding: 15px 0;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .preprint-subjects-inner-container {
            background-color: $color-gray-light;
            padding: 0 30px;
            width: calc(100% - 60px);
            flex-direction: column;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .subject-list-container {
                padding: 25px;
                width: 100%;
                flex-direction: column;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    /* Preprint providers and become provider */
    .preprint-tool-container {
        background: var(--hero-background-img-url);
        color: $color-white;
        text-shadow: 0 0 5px $color-gray-blue-dark;
        background-size: cover;
        padding: 15px 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .preprint-tool-inner-container {
            padding-right: 30px;
            padding-left: 30px;
            width: calc(100% - 60px);
            flex-direction: column;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .subtitle {
                margin-bottom: 25px;
            }

            .preprint-contact-container,
            .preprint-logos-container {
                padding: 25px;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .provider-logo {
                    width: 150px;
                    height: 75px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 15px;
                }
            }

            .preprint-contact-container {
                flex-direction: column;
                align-items: center;

                .lead {
                    font-size: 21px;
                    line-height: 1.4;
                    font-weight: 300;
                    padding-bottom: 10px;
                    text-align: center;

                    .links {
                        color: $color-white;
                        text-decoration: underline;
                    }
                }

                .contact {
                    margin-top: 20px;
                }
            }
        }
    }

    .osf-preprint-advisory-container {
        background-image: none;
    }

    &.mobile {
        .preprint-subjects-inner-container {
            padding: 0;
            background-color: $color-gray-light;
            padding: 0, 10px;
            width: calc(100% - 20px);

            .subject-list-container {
                padding: 25px 0;
                width: 100%;
                flex-direction: column;
            }
        }

        .preprint-tool-inner-container {
            padding: 15px 10px;
            width: calc(100% - 20px);
        }
    }
}
