<div local-class="CommentList">
    <div local-class="Title">
        {{t 'registries.overview.comments.discussion'}}
    </div>

    {{#paginated-list/has-many
        modelTaskInstance=@modelTaskInstance
        relationshipName=@relationshipName
        query=this.queryParams
        bindReload=(action (mut this.reloadComments))
        analyticsScope=@analyticsScope
        as |list|
    }}

        {{#list.item as |comment|}}
            <CommentCard @comment={{comment}} @node={{modelTaskInstance.value}} @reload={{action list.doReload 1}}/>
        {{/list.item}}

    {{/paginated-list/has-many}}
</div>
