// stylelint-disable selector-class-pattern

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    vertical-align: middle;
    color: $color-text-white;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    color: $color-text-white;
    background-color: $color-osf-primary;
    border-color: $color-osf-primary;

    &:focus {
        color: $color-text-white;
        background-color: $color-link-dark;
        border-color: $color-blue;
    }
    
    &:hover {
        color: $color-text-white;
        background-color: $color-link-dark;
        border-color: $color-bg-blue-darker;
    }    
}

.btn-default {
    background-color: $bg-light;
    color: $color-gray;
    border-color: $color-border-gray;

    &:focus {
        color: $color-gray;
        background-color: $color-light;
        border-color: $color-gray-dark;
    }

    &:hover {
        color: $color-gray;
        background-color: $color-light;
        border-color: $color-bg-gray;
    }
}

.btn-success {
    color: $btn-success-high-contrast-color;
    background-color: $brand-success;
    border-color: darken($brand-success, 5%);

    &:hover {
        background-color: darken($brand-success, 10%) !important;
        border-color: darken($brand-success, 15%);
    }

    &:focus {
        background-color: darken($brand-success, 10%) !important;
        border-color: darken($brand-success, 15%);
    }

    &[disabled],
    &[disabled]:hover,
    :global(&.disabled),
    :global(&.disabled):hover {
        color: darken($brand-success, 85%);
        background-color: lighten($brand-success, 50%);
        border-color: lighten($brand-success, 45%);
        opacity: 1;
    }
}

.btn-success.disabled,
.btn-success.disabled:hover {
    color: darken($brand-success, 85%);
    background-color: lighten($brand-success, 50%);
    border-color: lighten($brand-success, 45%);
    opacity: 1;
}

.btn-info {
    color: $btn-info-high-contrast-color;
    background-color: $brand-info;
    border-color: darken($brand-info, 5%);

    &:hover:not([disabled]) {
        background-color: darken($brand-info, 10%);
        border-color: darken($brand-info, 15%);
    }
}

.btn-danger {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: darken($brand-danger, 5%);

    &:hover:not([disabled]) {
        background-color: darken($brand-danger, 10%);
        border-color: darken($brand-danger, 15%);
    }
}

.btn-danger.disabled,
.btn-danger.disabled:hover {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: lighten($brand-danger, 5%);
    opacity: 1;
}

/* stylelint-enable */
