.btn-success { // stylelint-disable-line selector-class-pattern
    color: $btn-success-high-contrast-color;
    background-color: $brand-success;
    border-color: darken($brand-success, 5%);
}

.btn-info { // stylelint-disable-line selector-class-pattern
    color: $btn-info-high-contrast-color;
    background-color: $brand-info;
    border-color: darken($brand-info, 5%);
}

.visuallyhidden { // stylelint-disable-line selector-class-pattern
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
