// stylelint-disable selector-class-pattern
.btn-success {
    color: $btn-success-high-contrast-color;
    background-color: $brand-success;
    border-color: darken($brand-success, 5%);

    &:hover {
        background-color: darken($brand-success, 10%);
        border-color: darken($brand-success, 15%);
    }

    :global(&.disabled),
    :global(&.disabled):hover {
        color: darken($brand-success, 85%);
        background-color: lighten($brand-success, 50%);
        border-color: lighten($brand-success, 45%);
        opacity: 1;
    }
}

// stylelint-disable selector-no-qualifying-type
.btn-success.disabled,
.btn-success.disabled:hover,
button.btn-success[disabled],
button.btn-success[disabled]:hover {
    color: darken($brand-success, 85%);
    background-color: lighten($brand-success, 50%);
    border-color: lighten($brand-success, 45%);
    opacity: 1;
}

.btn-info {
    color: $btn-info-high-contrast-color;
    background-color: $brand-info;
    border-color: darken($brand-info, 5%);

    &:hover {
        background-color: darken($brand-info, 10%);
        border-color: darken($brand-info, 15%);
    }
}

.btn-danger {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: darken($brand-danger, 5%);

    &:hover {
        background-color: darken($brand-danger, 10%);
        border-color: darken($brand-danger, 15%);
    }
}

.btn-danger.disabled,
.btn-danger.disabled:hover {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: lighten($brand-danger, 5%);
    opacity: 1;
}

/* stylelint-enable */
