// stylelint-disable selector-class-pattern
.btn-success {
    color: $btn-success-high-contrast-color;
    background-color: $brand-success;
    border-color: darken($brand-success, 5%);

    :global(&.disabled),
    :global(&.disabled):hover {
        color: darken($brand-success, 85%);
        background-color: lighten($brand-success, 50%);
        border-color: lighten($brand-success, 45%);
        opacity: 1;
    }
}

.btn-success.disabled,
.btn-success.disabled:hover {
    color: darken($brand-success, 85%);
    background-color: lighten($brand-success, 50%);
    border-color: lighten($brand-success, 45%);
    opacity: 1;
}

.btn-info {
    color: $btn-info-high-contrast-color;
    background-color: $brand-info;
    border-color: darken($brand-info, 5%);
}

.btn-danger {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: darken($brand-danger, 5%);
}

.btn-danger.disabled,
.btn-danger.disabled:hover {
    color: $btn-danger-high-contrast-color;
    background-color: $brand-danger;
    border-color: lighten($brand-danger, 5%);
    opacity: 1;
}

/* stylelint-enable */
