.ember-application {
    --primary-color: $color-select;
    --secondary-color: $color-bg-gray-blue;
    --navbar-logo-img-url: '';
    --hero-logo-img-url: '';
    --hero-background-img-url: '';
}

.brand-container {
    .branded-logo {
        background-image: var(--navbar-logo-img-url);
        width: 35px;
        height: 35px;
        margin-right: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
