.ember-application {
    --primary-color: #{$color-select};
    --secondary-color: #{$color-bg-gray-blue};
    --navbar-logo-img-url: url('images/default-brand/cos-logo-white.svg');
    --hero-logo-img-url: url('images/default-brand/osf-registries-white.png');
    --hero-background-img-url: url('images/default-brand/bg-dark.jpg');
}

:global(.with-custom-branding) {
    // TODO: audit all links and turn them into OSF links and then we can remove this rule?
    a:hover {
        color: var(--primary-color);
    }
}
