// Designed to be used in a ::before or ::after
// parent element should have a position: relative style
@mixin primary-color-bg {
    background: var(--primary-color);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
