// Global styles (Think: Do you really need to?)

// stylelint-disable selector-class-pattern

html,
body,
body > :global(.ember-view) {
    min-height: 100%;
}

:global(#toast-container) > div { // stylelint-disable-line selector-max-id
    opacity: 1;
}

@media only percy {
    :global(#ember-testing) { // stylelint-disable-line selector-max-id
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        transform-origin: top left !important;
    }
}

.modal-open,
.modal {
    overflow-y: auto !important;
}
