// Global styles (Think: Do you really need to?)

// stylelint-disable selector-class-pattern

html,
body,
body > :global(.ember-view) {
    height: 100%;
}

:global(#toast-container) > div { // stylelint-disable-line selector-max-id
    opacity: 1;
}
