// Mixins

@mixin quickfiles-panel {
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: $color-border-gray;
    box-shadow: 0 1px 1px $color-shadow-light;

    .panel-heading { // stylelint-disable-line selector-class-pattern
        background-color: $color-bg-gray-light;
        border-color: $color-border-gray;
        color: $color-text-black;
        justify-content: flex-start;
        padding: 7px 10px;
        text-align: left;
    }
}
