@import 'variables';

// Mixins
/* simplified version of bootstrap's button-variant mixin */
@mixin a11y-button-variant($background, $color: #FFF) {
    color: $color;
    $border: darken($background, 5%); // stylelint-disable-line
    background-color: $background;
    border-color: $border;
    
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }

    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }

    &:active,
    &.active {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }
}
