// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.preprint-advisory-container {
    background: var(--hero-background-img-url);
    background-color: $color-bg-gray-lighter;
    border-bottom: 1px solid $color-gray-blue;
    padding: 15px 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .preprint-advisory-inner-container {
        padding: 0 30px;
        width: calc(100% - 60px);
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .preprint-advisory-header {
            width: 100%;
        }

        .preprint-advisory-list {
            width: 100%;
            flex-direction: row;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 25px;

            .preprint-advisory-list-column {
                width: 50%;

                ul {
                    list-style: none;

                    li {
                        padding-top: 5px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &.mobile {
        .preprint-advisory-inner-container {
            padding: 0 10px;
            width: calc(100% - 20px);

            .preprint-advisory-list {
                flex-direction: column;

                .preprint-advisory-list-column {
                    width: 100%;

                    ul {
                        padding: 0;
                    }
                }
            }
        }
    }
}
