// Bootstrap Variables
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

// $gray-darker:            #222222
// $gray:                   #555555
// $gray-light:             #777777
// $gray-lighter:           #eeeeee

// OSF-Style variables

/* Sizes */
$sizes: ('xs', 'sm', 'md', 'lg', 'xl');
$margins: (5, 10, 15, 25, 50);
$spinner-size: (10, 20, 30, 50, 75);
$weights: (200, 300, 400, 500, 600);
$mobile-width: 768px;

/* Defaults */
$radius: 2px;
$bg-light: #f8f8f8;
$tall-line-height: 1.42857;

/* default bootstrap colors so osf-style can compile without bootstrap */
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f;

/*
 * OSF Color Palette
 */

$color-white: #fff;

$color-blue: #204762;
$color-pure-blue: #00f;
$color-hover: #e0ebf3;
$color-light: #eee;
$color-gray: #333;
$color-gray-dark: #888;
$color-red: #f00;
$color-yellow: #ff0;
$color-turquoise: rgb(64, 224, 211);
$color-purple: rgb(154, 0, 192);
$color-black: #000;
$color-teal: #2e6a74;
$color-teal-light: #5a8288;
$color-gray-blue: #548288;
$color-gray-blue-dark: #365062;

$color-osf-primary: #337ab7;
$color-osf-secondary: #15a5eb;

/* overrides with darkened colors for a11y contrast */
$brand-success: darken($brand-success, 10%);
$brand-info: darken($brand-info, 15%);
// no override needed for brand-warning (will use dark text instead)
$brand-danger: darken($brand-danger, 15%);


// Internal variables
// Color variations ordered darkest to lightest within each section.

$color-border-gray-darker: #ababab;
$color-border-gray-dark: #e5e5e5;
$color-border-gray: #ddd;
$color-border-gray-light: #d9d9d9;
$color-border-gray-cool: #d6dbdc;

$color-gradient-secondary: #ccc;

$color-text-gray: #555;
$color-text-gray-light: #777770; // 4.5 color contrast against fff background
$color-text-gray-cool: #e0ebf3;
$color-text-blue-light: #adcce6;
$color-text-slate-gray: #a5b3bd;

$color-link-light: #08c;
$color-link-dark: #2d6a9f;
$color-link-blue: #80c2f7;

$color-bg-gray-darker: #4c4c4c;
$color-bg-gray: #e0e0e0;
$color-bg-gray-light: #efefef;
$color-bg-gray-lighter: #f7f7f7;
$color-bg-gray-dark: #d9d9d9;
$color-bg-gray-blue-light: #ecf0f1;
$color-bg-blue-darker: #214661;
$color-bg-blue-light: #def;
$color-bg-red: #a00;
$color-bg-white-transparent: rgba(255, 255, 255, 0.49);

$color-shadow-white: $color-white;
$color-shadow-light: rgba(0, 0, 0, 0.05);
$color-shadow-dark: rgba(0, 0, 0, 0.2);
$color-shadow-gray-light: #ccc;
$color-shadow-gray-dark: #898787;

$color-text-placeholder-gray-dark: #666;

$btn-success-high-contrast-color: $color-white;
$btn-info-high-contrast-color: $color-white;
$btn-danger-high-contrast-color: $color-white;

$primary-box-shadow: rgba(0, 0, 0, 0.2);
$alto: #ddd; //Borders

$ember-power-select-placeholder-color: #555;

$progress-bar-bg-bright: (primary: #428bca,
info: $brand-info,
success: $brand-success,
warning: $brand-warning,
danger: $brand-danger,
);


.bg-color-light {
    background-color: $color-light;
}

/*
* Affiliated Institutions Color Palette
*/

$orcid-logo-color: #a6ce39;
