// Bootstrap Variables
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

// $gray-darker:            #222222
// $gray-dark:              #333333
// $gray:                   #555555
// $gray-light:             #777777
// $gray-lighter:           #eeeeee


// Internal variables
// Color variations ordered darkest to lightest within each section.

$color-border-white: #fff;
$color-border-gray-dark: #e5e5e5;
$color-border-gray: #ddd;
$color-border-gray-light: #d9d9d9;
$color-border-gray-cool: #d6dbdc;

$color-text-white: #fff;
$color-text-black: #333;
$color-text-gray: #555;
$color-text-gray-light: #777;
$color-text-gray-dark: #888;
$color-text-gray-cool: #e0ebf3;
$color-text-blue-dark: #337ab7;

$color-link-black: #000;
$color-link-light: #08c;
$color-link-dark: #2d6a9f;
$color-link-blue: #80c2f7;

$color-bg-white: #fff;
$color-bg-gray-dark: #4c4c4c;
$color-bg-gray: #e0e0e0;
$color-bg-gray-light: #efefef;
$color-bg-gray-dark: #d9d9d9;
$color-bg-gray-blue-dark: #34495e;
$color-bg-blue-dark: #337ab7;
$color-bg-blue-darker: #214661;
$color-bg-blue-light: #def;
$color-bg-red: #a00;
$color-bg-white-transparent: rgba(255, 255, 255, 0.49);

$color-shadow-white: #fff;
$color-shadow-light: rgba(0, 0, 0, 0.05);
$color-shadow-gray-light: #ccc;
$color-shadow-gray-dark: #898787;

$color-text-placeholder-grey-dark: #666;

$brand-success: #357935;
$brand-info: #1b6d85;
$brand-danger: #bc2e29;
$btn-success-high-contrast-color: #fff;
$btn-info-high-contrast-color: #fff;
$btn-danger-high-contrast-color: #fff;

$ember-power-select-placeholder-color: #555;

$progress-bar-bg-bright: (
    primary: #428bca,
    info: #5bc0de,
    success: #5cb85c,
    warning: #f0ad4e,
    danger: #d9534f,
);
