// Bootstrap Variables
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

// $gray-darker:            #222222
// $gray-dark:              #333333
// $gray:                   #555555
// $gray-light:             #777777
// $gray-lighter:           #eeeeee

// OSF-Style variables

/* Sizes */
$sizes: ('xs', 'sm', 'md', 'lg', 'xl');
$margins: (5, 10, 15, 25, 50);
$spinner-size: (10, 20, 30, 50, 75);
$weights: (200, 300, 400, 500, 600);

/* Defaults */
$radius: 2px;
$bg-light: #f8f8f8;
$border-light: 1px solid #eee;

$osf-teal-navbar: #2e6a74;
$osf-highlight-navbar: #5a8288;
$osf-dark-blue-navbar: #263947;

/* default bootstrap colors so osf-style can compile without bootstrap */
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f;

/* overrides with darkened colors for a11y contrast */
$brand-success: darken($brand-success, 10%);
$brand-info: darken($brand-info, 15%);
// no override needed for brand-warning (will use dark text instead)
$brand-danger: darken($brand-danger, 15%);


// Internal variables
// Color variations ordered darkest to lightest within each section.

$color-border-white: #fff;
$color-border-gray-darker: #ababab;
$color-border-gray-dark: #e5e5e5;
$color-border-gray: #ddd;
$color-border-gray-light: #d9d9d9;
$color-border-gray-cool: #d6dbdc;

$color-gradient-primary: #eee;
$color-gradient-secondary: #ccc;

$color-text-white: #fff;
$color-text-black: #333;
$color-text-gray: #555;
$color-text-gray-light: #777;
$color-text-gray-dark: #888;
$color-text-gray-cool: #e0ebf3;
$color-text-blue-light: #adcce6;
$color-text-blue-dark: #337ab7;
$color-text-blue-heading: #365062;

$color-link-black: #000;
$color-link-light: #08c;
$color-link-dark: #2d6a9f;
$color-link-blue: #80c2f7;

$color-bg-black: #333;
$color-bg-white: #fff;
$color-bg-gray-dark: #4c4c4c;
$color-bg-gray: #e0e0e0;
$color-bg-gray-light: #efefef;
$color-bg-gray-lighter: #f7f7f7;
$color-bg-gray-dark: #d9d9d9;
$color-bg-gray-blue: #263947;
$color-bg-gray-blue-dark: #34495e;
$color-bg-blue-dark: #337ab7;
$color-bg-blue-darker: #214661;
$color-bg-blue-light: #def;
$color-bg-red: #a00;
$color-bg-white-transparent: rgba(255, 255, 255, 0.49);

$color-shadow-white: #fff;
$color-shadow-light: rgba(0, 0, 0, 0.05);
$color-shadow-gray-light: #ccc;
$color-shadow-gray-dark: #898787;

$color-text-placeholder-grey-dark: #666;

$btn-success-high-contrast-color: #fff;
$btn-info-high-contrast-color: #fff;
$btn-danger-high-contrast-color: #fff;

$ember-power-select-placeholder-color: #555;

$progress-bar-bg-bright: (primary: #428bca,
info: #5bc0de,
success: #5cb85c,
warning: #f0ad4e,
danger: #d9534f,
);

/*
 * OSF Color Palette
 */

$color-blue: #204762;
$color-pure-blue: #00f;
$color-hover: #e0ebf3;
$color-light: #eee;
$color-alt: #c7ffc7;
$color-select: #337ab7;
$color-grey: #333;

.bg-color-blue {
    background-color: $color-blue;
}

.bg-color-hover {
    background-color: $color-hover;
}

.bg-color-light {
    background-color: $color-light;
}

.bg-color-alt {
    background-color: $color-alt;
}

.bg-color-select {
    background-color: $color-select;
}

.bg-color-grey {
    background-color: $color-grey;
}
