@import 'bootstrap';
@import 'osf-style';

#versionLink {
   cursor: pointer;
}
#editPanel {
    padding:0px;
}
.disabled {
    pointer-events: none;
}
.panel {
   border: 1px solid transparent;
   box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-bottom: 1px solid transparent;
    border-color: #ddd;
    & > .panel-heading {
      text-align: left;
      padding: 7px 10px;
      background-color: #EFEFEF;
      justify-content: flex-start;
      color: #333;
      border-color: #ddd;
    }
}
.table {
	margin-bottom: 0px;
}
.share-popover {
  text-align: center;
  max-width: 450px;
  width: 450px;
}
#sharePaneUrl {
    height: 33px;
}
.share-btn-container {
  height: 34px;
  vertical-align: top;
}
.share-buttons {
  margin: 12px 4px 3px;
  padding-top: 30px;
  & > a {
    display: inline-block;
    padding: 0 2px;
    width: 35px;
    text-align: center;
    margin: 0 2px;
    background-color: #f0f0f0;
  }
  & > a:hover {
    background-color: #e0e0e0;
  }
  .fa {
    color: #08c;
    font-size: 1.6em;
    line-height: 1.6em;
  }
}

.col-md-3 .file-browser {
  height: 400px;
  margin-bottom: 20px;
}

.file-browser {
    height: 600px;
}

.file-name {
    word-wrap: break-word;
}

.quickfiles-content {
    padding-top: 100px
}

.osf-project-navbar {
    width: calc(100% + 20px);
    min-height: 50px !important;
    & .container {
        min-height: inherit;
    }
}

@media (max-width: 767px) {
    #quickfilesNav .active {
        margin-left: 30px;
    }
}

#quickfilesNav {
    margin: 0;
    width: 100%;
    min-height: inherit;
    & .active {
        float: left;
        min-height: inherit;
        max-width: calc(100% - 50px);
        & .project-title {
            max-width: 100%;
            line-height: normal;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0px;
        }
    }
}

.emberTagInput-tag {
  background: #DEF;
  border-radius: 0px;
  color: black;
  font-size: 13px;
  cursor: pointer;
  max-width: 100%;
  overflow-wrap: break-word;
  & > a {
    color: black;
  }
  &:hover {
    background: #337ab7;
    color: #E0EBF3;
    & > a {
      color: #E0EBF3;
    }
  }
}
.emberTagInput-new {
    width: 100%;
    & > input {
        width: inherit;
    }
}
.file-version a {
  cursor: pointer;
}
td .input-group {
  width: 180px;
  .hashBox {
    float: left;
    height: 30px;
  }
}

.tb-th {
    font-weight: normal;
}
.container > #alert-container {
    margin-bottom: 0;
    margin-top: 0;
}

h3, h4 {
    font-weight: 400;
}
.quickSearch {
    min-height: 700px;
    background: #C5D6E6 url('/static/img/bg6.jpg') top center repeat-y;
    background-size: cover;
}

.dashboard-page {
    padding-top: 50px;
}

.public-projects-box {
    background: rgba(255, 255, 255, 0.22);
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 20px;
}
.public-projects-item {
    background-color: #fff;
    box-shadow: 1px 1px 1px #898787;
    padding: 8px 15px;
    color: #555;
    margin-bottom: 5px;
}
.public-projects-item:hover {
    cursor: pointer;
    background-color: #337AB7;
    color: #fff;
}
.public-projects-box > a:hover {
    text-decoration: none;
}

.newAndNoteworthy {
    min-height: 650px;
    background: #34495e;
    padding-top: 25px;
    color: #FFF;
}

.institutions-panel {
    background: #166595 url("/static/img/front-page/bg-web.png") no-repeat center top;
    background-size: cover;
    padding-top: 25px;
}

.meetings {
    background: #166595 url("/static/img/front-page/bg-web.png") no-repeat center top;
    background-size: cover;
    color: #fff;
}

.prereg {
    background: #C5D6E6 url("/static/img/bg6.jpg") no-repeat center top;
    background-size: cover;

}

.prereg-banner {
    background: #337AB7;
    color: #FFF;
}

.preprints {
    background: #34495e;
    color: #FFF;
}

.btn-banner {
    box-shadow: 0 0 9px -4px #000;
    width: 70%;
}

.footer {
    margin-top: 0; /* Override footer margin for this page only */
}

/* Override alerts */
.home-page-alert {
    background: #eee;
}


.home-page-alert > #alert-container {
    margin-bottom: 0;
    margin-top: 0;
}

.jumbotron {
    padding: 10px 40px 10px 40px;
    margin-bottom: 0;
}

.home-page-alert > #alert-container a:focus, .home-page-alert > #alert-container a:hover {
    color: #23527c;
    text-decoration: none;
}

.jumbotron p {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 40px;
    }
}


.node-styling {
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    padding: 6px;
    color: #555;
}

.node-styling:hover {
    background-color: #337AB7;
    cursor: pointer;
    color: #FFF;
    link-color: #FFF
}

.quick-project button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.load-nodes {
    font-size: 2em;
}

.load-nodes:hover {
    color: #333;
}

.quick-project .selected {
    color: #000000;
}

.quick-project img {
    margin-top: 30px;
    border: 3px solid #fff;
    opacity: 0.6;
}

.quick-project .not-selected {
    color: #347BB7;
}

.sort-group {
  display: inline-block;

}
.node-col-headers {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .node-col-headers {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .node-sort-dropdown {
        display: none;
    }
}

.quick-project label {
    font-weight: normal;
}

.prevent-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blank-line {
    margin-bottom: 15px;
}

.quick-search-input {
    width: 70%;
    margin: 10px auto;
}

.quick-search-input input {
    height: 38px;
    border-radius: 5px;
    display: inline-block;
    padding-right: 40px;
}

.quick-search-input span {
    display: inline-block;
    margin-left: -36px;
    background: #eee;
    border-radius: 12px;
    color: #888;
    font-size: 13px;
    padding: 1px;
    width: 26px;
}

.quick-search-col {
    padding-left: 5px;
    .ancestry {
        font-style: italic;
    }
}

@media (min-width: 768px) {
    .quick-search-contents {
        min-height: 880px;
    }
}
@media (max-width: 768px) {
    .quick-search-contents {
        min-height: 1450px;
    }
}

.quick-search-table {
    background: rgba(255, 255, 255, 0.49);
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.prereg-banner p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.ball-scale.ball-light {
    text-align: center;
}

.not-selected.img-circle {
    opacity: 0.25;
    filter: grayscale(100%);
}

.osf-project-navbar a.project-title {
    max-width: 100%;
}

.institution-carousel.carousel-control {
    padding-top: 20px;
    font-size: 50px;
    width: 5%;
    background-image: none;
}

.institution-item {
    display: inline-block;
    float: none;
    .thumbnail {
        background: inherit;
        border: none;
        .img-circle {
            background-color: white;
        }
    }
}

.institution-select {
    position: relative;
    margin: 10px;
}

.affiliation-selector a {
    margin-right: 12px;
    float: right;
}

label.wide {
    width: 100%;
}

::-webkit-input-placeholder {
    /* Webkit, Blink, Edge */
    color: rgb(102, 102, 102);
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(102, 102, 102);
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(102, 102, 102);
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(102, 102, 102);
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(102, 102, 102);
}
#toast-container > div {
    opacity: 1;
}

@import "ember-power-select";
