<div local-class='preprint-state-machine-container  {{if (is-mobile) 'mobile'}}'>
    <div local-class='flow-status-container'>
        <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow
            @statusFlowIndex={{this.statusFlowIndex}}
            @displayAuthorAssertions={{this.displayAuthorAssertions}}
         />
    </div>
    <div local-class='flow-input-container'>
        {{t 'preprints.submit.step-one.title'}}

    </div>
    <div local-class='flow-action-container'>
        <Preprints::-Components::Submit::PreprintStateMachine::ActionFlow />
    </div>
</div>