<div local-class='preprint-state-machine-container  {{if this.isMobile 'mobile'}}'>
    <div local-class='flow-status-container'></div>
    <div local-class='flow-input-container'></div>
    <div local-class='flow-action-container'></div>
</div>