<Panel
    as |panel|
>
    <panel.heading @title={{t 'settings.addons.title'}} />
    <panel.body>
        <div>
            {{!--  <p>Hello Addons!</p>  --}}
        </div>
    </panel.body>
</Panel>
