<div local-class='OverviewForm'>
    {{#if (not this.schemaBlockGroups)}}
        <LoadingIndicator @dark={{true}}/>
    {{/if}}
    {{#each this.schemaBlockGroups as |group|}}
        <Registries::SchemaBlockGroupRenderer @schemaBlockGroup={{group}} @renderStrategy={{
            component
            'registries/schema-block-renderer/read-only/mapper'
            registrationResponses=this.registration.registrationResponses
            node=this.node
        }} />
    {{/each}}
</div>