<div local-class='preprint-state-machine-container  {{if (is-mobile) 'mobile'}}'>
    {{#if this.isTitleAndFileActive}}
        <Preprints::-Components::Submit::TitleAndFile
            @manager={{@manager}}
        />
    {{/if}}
</div>