{{#let (hash
    myprojects=(component 'osf-navbar/x-links/hyper-link'
        this.myProjectsURL
        analyticsLabel='My_projects'
        hidden=(not this.session.isAuthenticated)
        tagName='li'
        text=(t 'navbar.my_projects')
        onClicked=this.onLinkClicked
    )
    myregistrations=(component 'osf-navbar/x-links/hyper-link'
        this.myRegistrationsURL
        analyticsLabel='My_registrations'
        hidden=(not this.session.isAuthenticated)
        tagName='li'
        text=(t 'navbar.my_registrations')
        onClicked=this.onLinkClicked
    )
    support=(component 'osf-navbar/x-links/hyper-link'
        this.supportURL
        analyticsLabel='Support'
        tagName='li'
        text=(t 'navbar.support')
        onClicked=this.onLinkClicked
    )
    donate=(component 'osf-navbar/x-links/hyper-link'
        this.donateURL
        analyticsLabel='Donate'
        classNames='navbar-donate-button'
        tagName='li'
        text=(t 'navbar.donate')
        onClicked=this.onLinkClicked
    )
) as |links|}}
    {{#if (has-block)}}
        {{yield links}}
    {{else}}
        <links.myprojects data-test-nav-my-projects-link />
        <li data-test-nav-search-link>
            <OsfLink
                @route='search'
                data-analytics-name='Search'
                data-test-nav-search-link
                {{on 'click' this.onLinkClicked}}
            >
                {{t 'navbar.search'}}
            </OsfLink>
        </li>
        <links.support data-test-nav-support-link />
        <links.donate data-test-nav-donate-link />
    {{/if}}
{{/let}}
