/* stylelint-disable selector-class-pattern */

.file-browser {
    border: 1px solid #eee;
    border-top: 0;
}

.dropzone-area {
    height: 100%;
}

:global(.dz-preview) {
    visibility: hidden;
    display: none;
}

.dz-clickable {
    cursor: pointer;
}

.upload-drop {
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-size: 200%;
    color: #fff;

    .upload-text {
        margin: 20px;
    }
}

.file-placeholder {
    padding: 50px;
    height: 100%;
    text-align: center;
}

.file-placeholder .file-placeholder-content {
    padding: 50px;
    background: #f5f5f5;
    border: 5px dashed #c7c7c7;

    .file-placeholder-text {
        margin: 20px;
        font-size: 200%;
    }
}

a {
    cursor: pointer;
}

.breadcrumb {
    margin-bottom: 0;
}

.action-button {
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0 0 2px #bbb;
    background: #f8f8f8;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px;
    margin-top: 4px;

    &:disabled {
        cursor: not-allowed;
        box-shadow: none;
    }
}

.actions-header {
    background: #efefef;
    border: 1px solid #eee;
    margin: 0 0 10px !important;
    background: #efefef;
    padding: 6px 0;

    &.small-display {
        margin-bottom: 3px;
    }
}

.column-labels-wrapper {
    position: relative;

    .column-labels-header::after {
        position: absolute;
        background-color: #f5f5f5;
        width: 20px;
        height: 33px;
        top: 1px;
        right: 1px;
    }
}

.column-labels-header {
    margin: 0;
    display: block;
    height: 35px;
    background: #f5f5f5;
    border: 1px solid #eee;
    overflow-y: scroll;
}

.file-browser-list {
    position: relative;
    height: calc(100% - 100px);
}

.items {
    z-index: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.shade {
    background: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;

    &.transparent {
        opacity: 0;
    }
}

.file-browser-header {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
}

.file-browser-header.header {
    line-height: 23px;
    padding: 3px 0 7px 5px;
    font-size: 14px;
    font-weight: 600;

    &:not(:first-child) {
        border-left: 1px solid #ddd;
    }
}

.sortable-column {
    padding-right: 10px;
    vertical-align: bottom;
    padding: 2px 0;
    display: table-cell;
}

.file-browser-header.link-column {
    margin-top: -2px;
}

.file-browser__popover button {
    height: 34px;
}

.link-url {
    background-color: #f5f5f5;
    word-break: normal !important;
    width: calc(100% - 35px);
}

.file-row-item {
    margin-left: 0;
    margin-right: 0;
}

.file-row-col {
    padding-top: 2px;
    padding-left: 6px;
    margin-left: 0;
}

.upload-file-header {
    color: #000;
}

.progress {
    margin-bottom: 0;
    margin-top: 7px;
}
