<ResponsiveDropdown @horizontalPosition='right' as |dd|>
    <dd.trigger>
        <Button data-test-version-dropdown-button data-analytics-name='Show Version' @type='show'>
            {{t 'registries.update_dropdown.dropdown_title'}}
            <FaIcon @icon='caret-down' />
        </Button>
    </dd.trigger>
    <div class='dropdown-content'>
    <dd.content>
        {{#each this.revisions as |revision|}}
        <div class='dropdown-list'>
            <span>
            <p>Version {{revision.versionNumber}}</p>
            <p>{{revision.dateCreated}}</p>
            </span>
            <br>
        </div>
        {{/each}} 
    </dd.content>
    </div>
</ResponsiveDropdown>