<DocsDemo as |demo|>
    <demo.example @name='form-controls.demo-default.hbs'>
        <form {{on 'submit' (prevent-default this.submit)}}>
            <FormControls
                @changeset={{this.changeset}}
                as |form|
            >
                <form.text
                    @label='Title'
                    @valuePath='title'
                />
                <form.text
                    @label='Description'
                    @valuePath='description'
                />
            </FormControls>
            <OsfButton
                @type='primary'
                @buttonType='submit'
            >
                Submit
            </OsfButton>
        </form>
    </demo.example>

    <demo.snippet @name='form-controls.demo-default.hbs' />
</DocsDemo>
