<div class='m-t-sm'>
    {{#each this.subjects as |subject|}}
        <span
            role='button'
            local-class='pointer subject-preview'
            onclick={{action this.onClickSubject subject}}
        >
            {{subject.text}}
        </span>
    {{/each}}
</div>
