<div>
    <div>{{t 'preprints.select.heading'}}</div>

    <div>{{t 'preprints.select.paragraph' link=this.learnMoreUrl htmlSafe=true}}</div>

    {{#each this.allProviders as |provider| }}
        <div >
            <Preprints::-Components::PreprintProviderDisplay @provider={{provider}} />
        </div>
    {{/each}}

    <div>{{t 'preprints.select.create_button'}}</div>
</div>
