// stylelint-disable max-nesting-depth, selector-max-compound-selectors

@import 'app/styles/layout';

.select-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-container {
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: url('assets/images/default-brand/bg-dark.jpg') top center $color-bg-color-grey;

        .header-clamp-width-container {
            @include clamp-width;

            .header {
                margin: 5px 10px;
                font-size: 48px;
                color: $color-text-white;
            }
        }
    }

    &.mobile {
        .header-container {
            text-align: center;

            .header-clamp-width-container {
                .header {
                    font-size: 36px;
                }
            }
        }
    }
}
