{{page-title (t 'preprints.select.page_title')}}

<div local-class='select-page-container {{if (is-mobile) 'mobile'}}'>
    <div local-class='header-container'>
        {{!-- placehodler for header component --}}
    </div>
    <div local-class='select-preprints-provider-container'>
        {{!-- placehodler for select prerpint provider component --}}
        {{!-- {{this.model.allProviders}} --}}
    </div>
</div>
