{{component
    (concat 'search-result/' type)
    item=item
    collectedType=result.collectedType
    status=result.status
    subjects=subjects
    addFilter=(action 'addFilter')
}}

{{#if expandable}}
    <div class="text-center">
        <button
            class='btn btn-link'
            local-class="toggleShowBody"
            aria-label={{t 'eosf.components.searchitem.showResult'}}
            {{action 'toggleShowBody'}}
        >
            <i class="fa fa-caret-{{if showBody 'up' 'down'}}"></i>
        </button>
    </div>
{{/if}}