& {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    position: relative;
    transition: all 1s ease-in-out;
}

& > div {
    position: absolute;
    width: 50px;
    height: 50px;

    &::before {
        content: '';
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }

    &::after {
        content: '';
        width: 30px;
        height: 30px;
        background: #38b9eb;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        left: 10px;
        transition: all 0.6s ease-in-out;
        opacity: 1;
    }

    &:hover::before {
        transform: translate(0, -15px);
    }

    &:hover::after {
        transform: translate(0, -5px);
    }
}

@for $i from 1 through 8 {
    :nth-child(#{$i}) {
        transform: translate(75px, 75px)
            rotate(calc(1turn * #{$i - 1} / 8))
            translate(0, -75px);

        @if $i % 2 == 0 {
            &::after {
                z-index: -1;
            }
        }
    }
}

&.Double {
    transform: scale(2);
}
