.clearfix::before,
.clearfix::after {
    display: table;
    content: ' ';
}
  
.clearfix::after {
    clear: both;
}

.panel {
    margin-bottom: 20px;
    background-color: $color-bg-white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: $color-border-gray;
}

.panel-heading {
    color: $color-gray;
    background-color: #f5f5f5;
    border-color: $color-border-gray;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
