{{page-title (t 'settings.profile.name.title')}}
<div data-analytics-scope='Name' local-class='panel panel-default'>
    <div local-class='panel-heading clearfix'>
        <h3 local-class='panel-title'>{{t 'settings.profile.name.title'}}</h3>
    </div>
    {{settings/profile/name/-components/name 
        user=this.user
        onSave=(action this.onSave)
    }}

</div>