@import 'app/styles/layout';
@import 'app/styles/components';

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.heading-wrapper {
    border-bottom: 1px solid #ddd;
}

.banner {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        color: #263947;
    }
}

.tab-list {
    @include clamp-width;
    @include tab-list;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

    li {
        display: inline-block;
    
        &:has(a:global(.active)) {
            background-color: #f8f8f8;
            border-bottom: 2px solid #204762;
        }
    
        &:has(a:hover) {
            border-color: transparent;
            text-decoration: none;
            background-color: #f8f8f8;
            color: var(--primary-color);
        }
    }
}

