@import 'app/styles/layout';

.heading-wrapper {
    border-bottom: 1px solid #ddd;
}

.banner {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        color: #263947;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.tab-list {
    @include clamp-width;
    // margin-bottom: 10px;
    // border-bottom: 1px solid #ddd;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    // display: block;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    height: 41px;
    padding: 0;
}

.tab {
    display: inline-block;
    // position: relative;
    margin-bottom: -1px;
    // float: left;
    height: 41px;
    padding: 10px 15px;

    &:has(a:global(.active)) {
        background-color: #f8f8f8;
        border-bottom: 2px solid #204762;
    }

    &:has(a:hover) {
        border-color: transparent;
        text-decoration: none;
        background-color: #f8f8f8;
        color: var(--primary-color);
    }
}
