<h1 data-test-page-heading ...attributes>
    {{@schemaBlock.displayText}}
    <span>
        {{#if this.isEditableForm}}
            <Registries::SchemaBlockRenderer::HelperTextIcon @helpText={{this.schemaBlock.helpText}} />
        {{/if}}
    </span>
</h1>