<DocsDemo as |demo|>
    <demo.example @name='loading-indicator.default-light.hbs'>
        <div local-class='dark-background'>
            {{! BEGIN-SNIPPET loading-indicator.default.hbs }}
            <LoadingIndicator />
            {{! END-SNIPPET }}
        </div>
    </demo.example>

    <demo.snippet @name='loading-indicator.default.hbs' />
</DocsDemo>
