.Valid {
    color: $primary-green;
}

.Invalid {
    color: $primary-red;
}

.Unvisited {
    color: $slate-gray;

    .Label {
        color: $dark-slate-gray;
    }

    &:hover span {
        color: $white;
    }
}

.Active {
    color: $black;
}
