{{#unless this.hidden}}
    {{#if this.dismissible}}
        <OsfButton
            @class='close'
            aria-label={{t 'general.close'}}
            @onClick={{action this.dismiss}}
        >
            <span aria-hidden='true'>{{fa-icon 'times'}}</span>
        </OsfButton>
    {{/if}}
    {{yield}}
{{/unless}}
