{{#unless this.hidden}}
    {{#if this.dismissible}}
        <button class='close' aria-label={{t 'general.close'}} {{action 'dismiss'}}>
            <span aria-hidden='true'>{{fa-icon 'times'}}</span>
        </button>
    {{/if}}
    {{yield}}
{{/unless}}
