{{#unless this.hidden}}
    {{#if this.dismissible}}
        <button
            type='button'
            class='close'
            aria-label={{t 'general.close'}}
            {{on 'click' this.dismiss}}
        >
            <span aria-hidden='true'><FaIcon @icon='times' /></span>
        </button>
    {{/if}}
    {{yield}}
{{/unless}}
