<div local-class='container'>
    <NodeMetadataManager @node={{this.model.taskInstance.value}} as |manager|>
        {{#if manager.isGatheringData}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            <NodeMetadataForm @manager={{manager}} />
        {{/if}}
    </NodeMetadataManager>
</div>