// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.branded-footer-links {
    width: 100%;
    margin: 10px 0;

    .social > a {
        margin: 0 4px;
    }

    .social > a:hover {
        text-decoration: none;
    }
}
