// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.branded-footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2.5em 0;

    .social > a {
        margin: 0 4px;
    }

    .social > a:hover {
        text-decoration: none;
    }
}
