.banner {
    padding: 15px 0;
}

.table-wrapper {
    width: 75%;
    padding-right: 15px;
}

.panel-wrapper {
    width: 25%;
    padding-top: 56px;
    padding-left: 15px;
}

.sso-users-connected {
    :global(.panel-body) {
        font-size: 120px;
        font-weight: bold;
    }
}

.projects {
    :global(.panel-body) {
        h3 {
            margin: 0;
            font-size: 72px;
            font-weight: bold;
        }

        p {
            margin: 0;
            font-size: 16px;
        }
    }
}
