<div>
    <img src='{{this.institution.assets.banner}}' alt='{{this.institution.name}}'>
    {{this.institution.name}}
    <ul>
        {{#each this.institution.institutionalUsers as |user|}}
            <li>{{user.fullName}}</li>
        {{/each}}
    </ul>
</div>