<section local-class='institutional-user-dashboard'>

</section>
<div class='container'>
    <div local-class='banner'>
        <img src='{{this.institution.assets.banner}}' alt='{{this.institution.name}}'>
    </div>
    <div style='display: flex;'>
        <div style='width: 75%; padding-right: 15px;'>
            <Institutions::Dashboard::-Components::InstitutionalUsersList @model={{this.model}} />
        </div>
        <div style='width: 25%; padding-top: 56px; padding-left: 15px;'>
            <Panel as |panel|>
                <panel.heading @title='SSO Users Connected' />
                <panel.body>
                    <p></p>
                </panel.body>
            </Panel>
            <Panel as |panel|>
                <panel.heading @title='Total Projects' />
                <panel.body>
                    <p></p>
                </panel.body>
            </Panel>
            <Panel as |panel|>
                <panel.heading @title='Departments' />
                <panel.body>
                    <p></p>
                </panel.body>
            </Panel>
        </div>
    </div>
</div>