{{#let (get @changeset.error @key) as |errors|}}
    {{#if errors.validation}}
        <div
            data-test-validation-errors={{@key}}
            local-class='Errors'
            ...attributes
        >
            {{~errors.validation~}}
        </div>
    {{/if}}
{{/let}}
