<div local-class='Top'>
    <p local-class='Top__explanation'>
        {{t 'settings.tokens.explanation'}}
    </p>

    {{#link-to
        data-test-create-token-link
        'settings.tokens.create'
        class='btn btn-primary'
    }}
        {{t 'settings.tokens.createToken'}}
    {{/link-to}}
</div>

{{#paginated-list/all
    data-test-token-list
    modelName='token'
    analyticsScope='Settings - Tokens'
    reload=this.reloadList
    as |list|
}}
    {{#list.item as |token|}}
        {{settings/tokens/x-token-card
            token=token
            deleted=(action (mut this.reloadList) true)
        }}
    {{/list.item}}
{{/paginated-list/all}}