{{#paginated-list/all
    data-test-token-list
    modelName='token'
    analyticsScope='Settings - Tokens'
    reload=this.reloadList
    as |list|
}}
    {{#list.item as |token|}}
        <div local-class='Token'>
            {{#link-to
                'settings.tokens.edit'
                token.id
                data-test-token-link=token.id
            }}
                {{token.name}}
            {{/link-to}}

            {{delete-button
                small=true
                delete=(action deleteToken token)
                analyticsScope='Settings - Tokens'
            }}
        </div>
    {{/list.item}}

    {{#list.empty}}
        <div local-class='EmptyList' data-test-no-tokens>
            {{t 'settings.tokens.emptyList'}}
        </div>
    {{/list.empty}}
{{/paginated-list/all}}

<div local-class='ButtonBar'>
    {{#link-to
        data-test-create-token-link
        'settings.tokens.create'
        class='btn btn-primary'
    }}
        {{t 'settings.tokens.createToken'}}
    {{/link-to}}
</div>