// Utility classes

// Fighting/interop with bootstrap
.Dropdown {
    &:active,
    &:focus,
    &:hover {
        color: $white;
        text-decoration: none;
    }

    &:hover,
    :global(.open) & {
        color: $slate-gray;

        & i:global(.fa) {
            color: $secondary-blue;
        }
    }

    :global(.btn.btn-default) {
        background-color: $osf-dark-blue-navbar;
        border: 0;

        i {
            font-size: 20px;
        }

        &:hover,
        &:focus {
            outline: 0;
        }
    }
}

.DropdownMenu {
    background-color: $midnight-blue;
    border-radius: 2px;
    border: 0;
    left: auto;
    right: 0;
    top: 35px;

    // Override bootstrap/osf-style
    & > li > a:hover {
        color: $secondary-blue;
        background-color: $midnight-blue;
        background-image: none;
    }
}

:global(.media-mobile) .HideOnMobile,
:global(.media-desktop) .OnlyOnMobile,
:global(.media-tablet) .OnlyOnMobile {
    display: none;
}

// /Utility classes

.Logo {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-size: 100%;
    background-image: url('img/cos-logo-white.svg');
    background-repeat: no-repeat;
}

.Service {
    color: $white;
    font-size: 20px;

    & > strong {
        text-transform: uppercase;
        margin-right: -5px;
    }
}

.ServiceDropdownMenu {
    font-size: 20px;
}

.ServiceDropdownEntry {
    font-size: 20px;
    text-transform: uppercase;
}

.SearchBar {
    :global(.media-desktop) & {
        width: 300px;
    }

    :global(.media-tablet) & {
        width: 200px;
    }

    :global(.media-mobile) & {
        display: none;
    }

    & i {
        font-size: 20px;
    }

    input {
        min-width: 0;
    }
}

.AuthDropdown {
    margin-left: 15px;
}

.Gravatar {
    .Dropdown:hover &,
    // Bootstrap interop
    :global(.open) & {
        opacity: 0.8;
    }
}

.AuthDropdownMenu {
    font-size: 16px;

    // Logout and sign in buttons
    & > li > :global(.btn.btn-link) {
        color: $white;
        display: block;
        padding: 3px 20px;
        font-size: inherit;

        &:hover {
            color: $secondary-blue;
            text-decoration: none;
            outline: 0;
        }
    }

    :global(.fa.fa-user-plus) {
        position: relative;
        left: 2px;
        margin-right: 3px;
    }
}

.SearchDropdown {
    height: 50px;
    transition: height 0.4s;
    overflow: hidden;
    background: $dark-slate-gray;

    &.Closed {
        height: 0;
    }

    // Remove padding from the icon-input component
    // and rely on the padding from <Container />
    & span > span {
        padding: 0;
    }

    & span,
    & input {
        height: 100%;
    }

    & i {
        font-size: 20px;
    }
}
