{{#each this.chunkedDisplayFields as |fields|}}
    <div class='row'>
        {{#each fields as |field|}}
            <div class='col-md-6'>
                <label>
                    {{t (concat 'collections.collection_metadata.' field.labelKey)}}
                </label>
                {{#validated-input/power-select
                        model=this.collectedMetadatum
                        valuePath=field.valuePath
                        options=(sort (get this.collection field.optionsKey))
                        shouldShowMessages=false
                        as |option|
                }}
                    {{option}}
                {{/validated-input/power-select}}
            </div>
        {{/each}}
    </div>
{{/each}}
{{submit-section-buttons
    discard=(action 'discard')
    continue=this.continue
    continueDisabled=this.isInvalid
    continueButtonLabel=(t 'app_components.submit_section.continue')
}}
