<div>
    <ul local-class='nobullet'>
        {{#each this.items as |item|}}
            <li>
                <label local-class='label'>
                    <Input
                        @type='checkbox'
                        @checked={{item.checked}}
                        @change={{action this.updateFilters item.key}}
                    />
                    {{item.key}}
                </label>
            </li>
        {{/each}}
    </ul>
</div>
