<div ...attributes>
    <Files::Manager
        @node={{@node}}
        @onSelectFile={{@onSelectFile}}
        @onAddFile={{@onAddFile}}
        as |filesManager|
    >
        <Files::Browse @filesManager={{filesManager}} />
    </Files::Manager>
</div>
