<Meetings::Index::-Components::MeetingsHeroBanner />
<div class='container' local-class='grey-background'>
    <div class='row m-v-lg'>
        <div class='col-md-12'>
            <Meetings::Index::-Components::MeetingsList />
        </div>
    </div>
    <Meetings::Index::-Components::MeetingsFooter />
</div>
