<Meetings::Index::-Components::MeetingsHeroBanner />
<div local-class='meeting-container'>
    <div local-class='meeting-list-container'>
        <Meetings::Index::-Components::MeetingsList />
    </div>
    <Meetings::Index::-Components::MeetingsFooter />
</div>
