.Registrations__watermarked {
    background-image: url('/static/img/read-only.png');
    background-repeat: repeat;
    min-height: 70vh;
    padding-top: 15px;
}

.alert {
    border-radius: 2px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
