{{#unless this.model.taskInstance.isRunning}}
    <NodeNavbar @node={{this.model.taskInstance.value}} />
{{/unless}}

<div data-analytics-scope='Registration' local-class='Registrations__watermarked'>
    <div class='container alert alert-info'>
        {{t 'registration.project_alert' projectId=this.projectId}}
    </div>
    {{outlet}}
</div>
