{{title (t 'registries.application.page_title') replace=true}}

<RegistriesNavbar class='RegistriesStyle' @campaign='osf-registries' />

<div
    data-analytics-scope='Registries'
    local-class='RegistriesLayout'
    class='RegistriesStyle'
    {{with-branding this.model.brand}}
>
    {{outlet}}
</div>
