// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.metadata-container {
    margin: 30px;
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .metadata-tab-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
