<DocsViewer as |viewer|>
    <viewer.nav @project={{this.model}} as |nav|>
        <nav.section @label='Introduction' />
        <nav.item @label='What is this handbook?' @route='docs.index' />
        <nav.item @label='Contributing to the handbook' @route='docs.contributing' />

        <nav.section @label='Style guide' />
        <nav.item @label='Visual style' @route='docs.visual-style' />
        <nav.item @label='Written style' @route='docs.written-style' />

        <nav.section @label='Component gallery' />
        <nav.item @label='bs-alert' @route='docs.components.bs-alert' />
        <nav.item @label='foo-bar' @route='docs.components.foo-bar' />
        <nav.item @label='loading-indicator' @route='docs.components.loading-indicator' />

        <nav.section @label='Development' />
        <nav.item @label='Quickstart' @route='docs.quickstart' />
        <nav.item @label='Troubleshooting' @route='docs.troubleshooting' />
        <nav.item @label='Developer Environment' @route='docs.dev-env' />
        <nav.item @label='Testing' @route='docs.testing' />
        <nav.item @label='Additional resources' @route='docs.resources' />

    </viewer.nav>

    <viewer.main>
        <div class='docs-container'>
            <div local-class='DocsPage' class='docs-section'>
                {{outlet}}
            </div>
        </div>
    </viewer.main>
</DocsViewer>
