.panel {
    :global(.panel) {
        border: 0;
        margin-bottom: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    :global(.panel-heading) {
        background: #365063;
        padding: 15px;
        border: 0;
    }

    :global(.panel-title) {
        display: block;
        float: none;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    :global(.panel-body) {
        color: #263947;
        text-align: center;
    }
}
