.panel {
    .panel-overall {
        border: 0;
        margin-bottom: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .panel-heading {
        background: #365063;
        padding: 15px;
        border: 0;
    }

    .panel-title {
        display: block;
        float: none;
        color: $white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
    }

    .panel-body {
        color: #263947;
        text-align: center;

        h3 {
            font-size: 18pt;
            font-weight: 800;
        }
    }
}
