{{title (t 'registries.drafts.index.title')}}

<div local-class=''>
    <div class='container'>
        <div class='row'>
            <h1>{{t 'registries.drafts.index.title'}}</h1>
            {{!-- List all of the registry drafts. --}}
        </div>
    </div>
</div>
