<div local-class='container'>
    <img src='/assets/images/dashboard/{{this.icon}}.svg' alt='{{this.icon}}'>
    <h2 local-class='heading'>
        {{this.header}}
    </h2>
    <p local-class='subHeading'>
        {{this.subHeader}}
    </p>
</div>