<div local-class='HeadingWrapper'>
    <h2
        local-class='Heading'
        id={{@headingId}}
        ...attributes
    >
        {{yield}}
    </h2>
    <Button
        data-test-close-dialog
        data-analytics-name='Close dialog'
        @layout='fake-link'
        {{on 'click' (action @closeDialog)}}
        local-class='CloseButton'
        aria-label={{t 'general.close'}}
    >
        <FaIcon @icon='times' />
    </Button>
</div>