<div local-class='HeadingWrapper'>
    <h2
        local-class='Heading'
        id={{@headingId}}
        ...attributes
    >
        {{yield}}
    </h2>
    <BsButton
        data-test-close-dialog
        data-analytics-name='Close dialog'
        @type='link'
        @onClick={{action @closeDialog}}
        local-class='CloseButton'
        aria-label={{t 'general.close'}}
    >
        <FaIcon @icon='times' />
    </BsButton>
</div>