// stylelint-disable

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Coustard');

.Testimonials_Container {
    flex: 0 0 414px;
    height: 30%;
    max-height: 30%;
    min-height: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background-color: #ecf0f1;

    .description-bold {
        font-weight: 700;

        a {
            color: #2f6fa7;
        }
    }
}

header {
    flex: 0 0 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    
    h1 {
        justify-content: center;
        align-items: center;
        font-size: 4.9vmin; 
        font-weight: 600;
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #263947;
        padding-top: 22px;
    }
}

.slide-content {
    display: inline-flex;
    flex: 0 0 50%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    // left: 0;
}

.slide-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.Testimonial_Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background: transparent;
}

.Testimonial_Left > span {
    text-align: center;

    p,
    a {
        font-family: 'Open Sans';
        font-size: 16px;
        text-align: center;
        line-height: 1.4;
    }
}

.SingleQuote {
    justify-content: flex-start;
    font-size: 6vmin;
    font-family: Coustard;
    color: #a5b3bd;
    padding: 0px;
    margin: 0px;
}

.ResearcherQuote {
    justify-content: flex-start;
    font-family: 'Bree Serif';
    font-size: 3.4vmin;
    font-weight: 400;
    text-align: center;
    text-decoration: none solid rgb(165, 179, 189);
    line-height: 48px;
    padding: 0 11%;
    margin: 0;
    max-height: 200px;
}

.ResearcherMoreInfo {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vh 0vh 5vh;
}

.ResearcherQuote_Small {
    justify-content: flex-start;
    font-family: 'Bree Serif';
    font-size: 2vmin;
    font-weight: 500;
    padding: 0 11%;
    -webkit-line-clamp: 7;
    overflow: visible;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.ResearcherMoreInfoSmall {
    margin: 0px;
    padding: 1vh 1vh 1.5vh;
}

.ResearcherMoreInfo p:nth-of-type(1) {
    font-weight: 700;
}

.ResearcherMoreInfo p:nth-of-type(2) {
    font-weight: 300;
}

.ResearcherMoreInfo p:nth-of-type(3) {
    font-weight: 300;
}

.Testimonial_ResearcherProfile {
    // justify-content: flex-end;
    // align-items: flex-end;
    // align-self: flex-end;
    text-align: center;
    margin: 0px;
    padding: 0px;

    img {
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
    }

    &.isMobile {
        text-align: center;
    }
}

.TestimonialsMobile {
    flex: 0 0 90vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #ecf0f1;

    header {
        text-align: center;
        width: 100vw;
        max-width: 100vw;
        height: 10vh;
    }

    h1 {
        font-size: 6.0vmin;
        font-weight: 600;
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #263947;
        margin: 0 20px;
    }
}

.Testimonial_LeftMobile {
    justify-content: flex-start;
    width: 100vw;
    max-width: 100vw;
    height: 45vh;
    max-height: 50vh;
    padding-top: 2vh;
}

.ResearcherProfileMobile > img {
    justify-content: flex-end;
    width: 100vw;
    max-width: 100vw;
    height: 45vh;
    max-height: 50vh;
}
