// stylelint-disable

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Coustard');

.description-bold {
    font-weight: 700;

    a {
        color: #2f6fa7;
    }
}

.Testimonials_Container {
    justify-content: space-evenly;
    background-color: #ecf0f1;
    width: 100%;
    height: 420px;
    max-height: 420px;

    header {
        text-align: center;
        width: 100%;
        padding: 32px 20px 0px;
    }

    h1 {
        font-size: 4.8vmin;
        font-weight: 600;
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #263947;
        margin: 0 auto;
    }
}

.slide-content {
    background-color: #ecf0f1;
    display: flex;
    height: 100%;
    max-height: 420px;
    width: 100%;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;

}

.Testimonial_Left {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 50%;
    max-width: 50%;
    height: 420px;
    max-height: 420px;
    margin: 0px;
    padding: 10px 50px 0;
}

.Testimonial_Left > span {
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;

    p,
    a {
        font-family: 'Open Sans';
        font-size: 16px;
        text-align: center;
        margin: 0px;
        padding: 0px;
        line-height: 1.4;
    }
}

.SingleQuote {
    width: 100%;
    font-size: 6vmin;
    font-family: Coustard;
    color: #a5b3bd;
    height: 6vmin;
    max-height: 62px;
    padding: 0px 20px;
    margin: 0px;
}

.ResearcherQuote {
    width: 100%;
    font-family: 'Bree Serif';
    font-size: 3.4vmin;
    font-weight: 400;
    text-align: center;
    text-decoration: none solid rgb(165, 179, 189);
    line-height: 48px;
    max-height: 23vh;
    padding: 0px 32px 4px;
    margin: 0px;
    -webkit-line-clamp: 4;
    overflow: visible;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.ResearcherMoreInfo {
    margin: 0px;
    padding: 1vh 1vh 1.5vh;
}

.ResearcherQuote_Small {
    font-family: 'Bree Serif';
    font-size: 2vmin;
    font-weight: 500;
    padding: 5px 40px 0px;
    margin-bottom: 0px; 
    max-height: 23vh;
    -webkit-line-clamp: 7;
    overflow: visible;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.ResearcherMoreInfoSmall {
    margin: 0px;
    padding: 1vh 1vh 1.5vh;
}

.ResearcherMoreInfo p:nth-of-type(1) {
    font-weight: 700;
}

.ResearcherMoreInfo p:nth-of-type(2) {
    font-weight: 300;
}

.ResearcherMoreInfo p:nth-of-type(3) {
    font-weight: 300;
}

.Testimonial_ResearcherProfile {
    align-self: flex-end;
    width: 50%;
    max-width: 50%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;

    img {
        justify-content: flex-end;
        align-items: flex-end;
        max-height: 420px;
        max-width: 100%;
    }
}

// Header media points
@media (max-width: 768px) {
    .Testimonials_Container  h1 {
        font-size: 36px;
    }
}

@media (max-width: 375px) {
    .Testimonials_Container  h1 {
        font-size: 32px;
    }
}

// Slide media points
@media (max-width: 912px) {
    .slide-image {
        width: 290px;
    }

    .slide-content {
        p {
            font-size: 24px;
        }

        .testimonial-small {
            font-size: 18px;
        }

        .description {
            font-size: 14px;
        }
    }
}

@media (max-width: 720px) {
    .slide-content {
        .testimonial-small {
            font-size: 18px;
        }
    }
}

@media (max-width: 756px) {
    .slide-content {
        flex-wrap: wrap;
        height: 580px;

        p {
            font-size: 20px;
        }

        .testimonial-small {
            font-size: 15px;
        }
    }

    .quote {
        height: 66px;
    }

    .slide-image {
        margin-top: 15px;
    }
}

@media (max-width: 470px) {
    .slide-content {
        height: 630px;
        // height: 655px;
    }
}

@media (max-width: 375px) {
    .slide-content {
        height: 660px;
    }
}

@media (max-width: 411px) {
    .quote {
        height: 66px;
    }
}

@media (max-width: 360px) {
    .slide-content {
        height: 630px;
    }

    .slide-image {
        width: 250px;
    }
}

@media (max-width: 320px) {
    .slide-content {
        height: 680px;
    }
}
