.keyboard-activated {
    display: inline-flex;
    overflow: hidden;
    height: 1px;
    width: 1px;
    max-width: 250px;
    max-height: fit-content;
    background: #c5d6e6 url('/assets/images/dashboard/bg6.jpg') top center repeat-y;
    background-size: cover;
    color: $color-text-gray-dark;
    text-align: left;
    border: 2px solid $color-border-gray-darker;
    position: absolute;
    z-index: 1;

    left: -15%;

    .osf-home-logo {
        justify-content: center;
        align-items: center;

        img {
            flex-basis: 1 1 100%;
            border-radius: 50%;
        }
    }

    h2 {
        display: flex;
        flex: 1;
        text-align: center;
        background-color: $color-bg-blue-darker;
        color: #fff;
        width: 100%;
        height: 75px;
        max-height: 75px;
    }

    ol {
        list-style-position: inside;
        list-style-type: decimal;
        padding-left: 22px;
        padding-top: 2px;
        margin-bottom: 0;

        li {
            color: #2d6a9f;
            counter-increment: list;
            list-style-type: decimal;
            position: relative;
        }
    }

    .menu-data {
        background-size: cover;

        .user-auth {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 10px 0 0;
        }

        p {
            padding: 4px;
        }

        a {
            justify-content: flex-start;
        }

        .options-prompt {
            text-align: center;
            margin: 0;
            padding-left: 10px;
            padding-bottom: 15px;
        }

        ol {
            padding-left: 10px;
            background-size: cover;
        }

        .menu-directions {
            padding: 0 10px;
        }
    }

    &:focus {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        width: 250px;
        animation: slide-in 0.5s forwards;

        left: -5vw;

        .osf-home-logo {
            justify-content: center;
            height: 225px;
            width: 225px;
        }

        .osf-home-logo > img {
            width: 100%;
            padding: 10px 0;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

@keyframes slide-in {
    100% { transform: translateX(80%); }
}
