main {
    display: inline-flex;
    flex-direction: column;
}

.keyboard-activated {
    width: 1px;
    height: 1px;
    max-width: 1px;
    font-size: 0;
    display: flex;
    background: #c5d6e6 url('/assets/images/dashboard/bg6.jpg') top center repeat-y;
    background-size: cover;
    color: $color-text-gray-dark;
    text-align: left;
    border: 2px solid $color-border-gray-darker;
    position: absolute;
    z-index: 1;

    left: 15vw;

    .osf-home-logo {
        justify-content: center;

        img {
            flex: 1;
            width: 100%;
            align-items: flex-start;
            border-radius: 50%;
        }
    }

    h2 {
        display: flex;
        flex: 1;
        text-align: center;
        background-color: $color-bg-blue-darker;
        color: #fff;
        width: 100%;
        height: 75px;
        max-height: 75px;
    }

    .speech-button {
        justify-content: center;
        background-color: inherit;
    }

    .menu-data {
        background-size: cover;

        .user-auth {
            width: 100%;
            text-align: center;
        }

        p {
            padding-left: 4px;
        }

        a {
            justify-content: flex-start;
        }

        .options-prompt {
            padding-left: 4px;
        }

        ol {
            padding-left: 4px;
            background-size: cover;
        }
    }

    &:focus {
        display: flex;
        flex-direction: column;
        background: #c5d6e6 url('/assets/images/dashboard/bg6.jpg') top center repeat-y;
        font-size: 1rem;
        width: 15vw;
        max-width: 15vw;
        height: 100vh;
        left: 5vw;
        z-index: 100;
        animation: slide-in 0.5s forwards;
    }
}

@keyframes slide-in {
    100% { transform: translateX(80%); }
}
