<main data-analytics-scope='Home'>
    <Home::-Components::HeroBanner />
    <Home::-Components::SupportSection />
    <Home::-Components::Testimonials />
    <Home::-Components::IntegrationsSection />
</main>