<main data-analytics-scope='logged-out homepage - {{this.version}}'>
    <Home::-Components::HeroBanner />
    <Home::-Components::SupportSection />
    <Home::-Components::Testimonials />
    <Home::-Components::IntegrationsSection />
</main>