{{! template-lint-enable no-implicit-this }}
<div class='row' hidden={{not this.progress}}>
    <div class='col-xs-12'>
        <div class='progress' local-class='createPassword'>
            <div
                class='progress-bar progress-bar-sm progress-bar-{{this.progress}} progress-bar-{{this.progressStyle}}'
                role='progressbar'>
            </div>
        </div>
        {{#if this.message}}
            <div class='text-danger' local-class='warningMessage'>
                {{this.message}}
            </div>
        {{/if}}
    </div>
</div>