.ContentBackground {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.MainColumn {
    display: flex;
    flex-direction: column;
}

.FlexContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.FlexContainerRow > h2 {
    height: 40px;
    max-width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ProjectLink {
    margin: 20px;
}

.FileRenderer {
    height: 90vh;
    margin-bottom: 15px;
    padding: 0 20px 20px;
}

.SlideButtons {
    background-color: $color-bg-white;
    border: 0;
    color: $color-link-dark;
    margin: 20px 20px 0;

    @media (max-width: 767px) {
        margin: 0;
    }

    &.Active {
        @media (max-width: 767px) {
            background-color: $color-bg-white;
            color: $color-bg-black;
        }
        background-color: $color-bg-gray-light;
    }
}

.FileDetail__revisions {
    max-height: 100vh;
    overflow-y: auto;
}

.FileDetail__right-section-heading {
    margin-left: 20px;
}

.FileDetail__revision-list {
    list-style-position: inside;
    padding-inline: 20px;
}

.FileDetail__no-revisions {
    padding: 20px;
    text-align: center;
}

.RightContainer {
    margin: 0 20px;
    width: 28vw;

    dt,
    dd {
        background-color: #fff;
        color: #000;
        margin-bottom: 1vh;

        dt {
            font-size: 17px;
        }
    }

    h2:nth-of-type(2) {
        margin-bottom: 1vh;
    }

    h2 {
        font-size: 31.5px;
        font-weight: 300;
        line-height: 1.1;
        padding-bottom: 1vh;
    }

    dl > h2 {
        border-top: 2px solid #ddd;
        padding-top: 3vh;
        margin-top: 4vh;
    }

    div {
        margin-bottom: 2vh;
    }

    div:nth-of-type(1) {
        margin-bottom: 0;
    }

    span:nth-of-type(1) {
        padding-bottom: 1vh;

        a:nth-of-type(n+2),
        span {
            margin-left: -0.7vw;
            padding-left: 0;
        }

        span:last-of-type() {
            padding-left: 0.7vw;
        }
    }
}

.contributor-list {
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    text-align: left;
    white-space: pre;
    width: 100%;
}

.metadata-title-edit-download {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;

    button {
        margin-left: 12vw;
    }

    svg {
        height: 1.4em;
    }
}
