.ContentBackground {
    overflow-x: hidden;
    border-top: solid 1px $color-border-gray;
}

.FileDetail_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: right;
}

.FileDetail-project-link {
    margin: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.FileDetail_filename-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18px 18px;
    align-items: flex-start;
}

.FileDetail_file-options-wrapper {
    display: flex;
    align-items: center;
}

.FileDetail__mobile-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-top: solid 1px $color-border-gray;
}

.selectedMode {
    color: $color-text-gray;
}

.FileDetail__mobile-navbar-icon {
    font-size: 24px;
    margin-right: 10px;
}

.FileDetail-file-render {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
