@mixin panel {
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: $color-border-gray !important;
    box-shadow: 0 1px 1px $color-shadow-light !important;
}

@mixin panel-heading {
    background-color: $color-bg-gray-light !important;
    border-color: $color-border-gray !important;
    color: $color-text-black !important;
    justify-content: flex-start;
    padding: 7px 10px;
    text-align: left;
}

.TitleBar {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @media(min-width:992px) {
        flex-wrap: nowrap;
    }
}

.TitleBar__title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 10%;
}

.TitleBar__buttons {
    margin-left: auto;
    flex-shrink: 0;
    max-width: 100%;
    padding-left: 10px;
}

.TitleBar__version-link {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    padding: 0;
    vertical-align: top;
}

.TitleBar__button-label {
    pointer-events: none;
}

.Main {
    margin-bottom: 5px;
}

.EditPanel {
    @include panel;
    padding: 0;
}

.EditPanel__heading {
    @include panel-heading;
}

.TagsPanel {
    @include panel;
}

.TagsPanel__heading {
    @include panel-heading;
}

.RevisionsPanel {
    @include panel;

    a {
        cursor: pointer;
    }
}

.RevisionsPanel__heading {
    @include panel-heading;
}

.RevisionsPanel__table {
    margin-bottom: 0;
}
