.display {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .text {
        width: calc(100% - 50px);
        height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 6px 0;
    }

    .action {
        width: 50px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .blue-button {
            color: $brand-info;
        }
    }
}
