{{#if @isLoading}}
    {{t 'collections.collection_item_picker.after_options.loading'}}
{{else if this.hasMore}}
    <li
        role='button'
        class='ember-power-select-option text-center'
        local-class='nobullet'
        {{action @loadMore}}
    >
        {{t 'collections.collection_item_picker.after_options.load_more'}}
    </li>
{{/if}}