<span
    data-analytics-category='text'
    local-class='IconInput {{if this.dark 'Dark'}}'
    ...attributes
>
    <span>
        <FaIcon @icon={{this.icon}} @fixedWidth={{true}} />
    </span>
    {{input
        type='text'
        enter=(action '_enter')
        class=(local-class 'Input')
        value=(mut this.value)
    }}
</span>
