.ember-chart {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto 15px;
}

.department {
    font-size: 16px;

    h3 {
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: bold;
    }
}

