{{node-navbar node=model.taskInstance.value}}
<div local-class='Registrations__watermarked'>
    <div class="container alert alert-info">
        {{t 'registration.project_alert' projectId=projectId}}
    </div>
    {{outlet}}
</div>
