{{page-title (t 'registries.overview.files.title')}}
<h3>
    {{!-- swap with file provider name --}}
    {{t 'registries.overview.files.title'}}
</h3>

{{#unless this.model.taskInstance.isRunning}}
    <StorageProviderManager::OsfStorageManager
        @node={{this.model.taskInstance.value}}
    >
        <FileBrowser />
    </StorageProviderManager::OsfStorageManager>
{{/unless}}