<div class='ball-{{if pulse "pulse" "scale"}} {{if blue "ball-scale-blue"}} {{if dark "ball-dark" "ball-light"}} LoadingIndicator'>
    <div></div>
    {{#if pulse}}
        <div></div>
        <div></div>
    {{/if}}
</div>