<div ...attributes local-class='list-container'>
    {{#each @items as |item|}}
        <Files::Item
            data-test-file-row
            @item={{item}}
            @filesManager={{@filesManager}}
        />
    {{else}}
        {{#if @filesManager.canEdit}}
            <div data-test-no-files-placeholder local-class='placeholder'>
                <FaIcon @icon='upload' @size='4x' />
                {{t 'osf-components.files-widget.drag_drop_files'}}
            </div>
        {{/if}}
    {{/each}}
</div>
