.explanation-container {
    margin-bottom: 20px;
}

.form-container {
    width: 100%;

    .required {
        color: $brand-danger;
    }

    .textarea-container {
        textarea {
            height: 150px;
        }
    }
}
