<div class='{{if inline "ball-pulse" "ball-scale"}} {{if dark "ball-dark" "ball-light"}}' local-class="LoadingIndicator">
    {{#if inline}}
        <div></div>
        <div></div>
    {{/if}}
    <div></div>
</div>
