<div 
    class='{{if this.inline 'ball-pulse' 'ball-scale'}} {{if this.dark 'ball-dark' 'ball-light'}}'
    local-class='LoadingIndicator'
>
    {{#if this.inline}}
        <div></div>
        <div></div>
    {{/if}}
    <div></div>
</div>
