<ul class='assertions-links'>
    {{#each @links as |href|}}
        <li>
            <OsfLink
                data-test-preprint-assertion-link
                data-analytics-name={{@analyticsName}}
                @target='_blank'
                @href='{{href}}'
            >
                {{href}}
            </OsfLink>
        </li>
    {{/each}}
</ul>