// stylelint-disable selector-class-pattern

.FileListItem {
    height: 35px;
    user-select: none;
    border-bottom: 1px solid $color-border-gray-dark;
    line-height: 27px;
    padding-top: 0;

    a {
        color: $color-text-black;
    }

    &:hover {
        background-color: $color-text-gray-cool;
        color: $color-text-black;
    
        a {
            color: inherit;
        }
    }

    &.selected,
    &.selected:hover {
        background-color: $color-text-blue-dark;
        color: $color-text-white;

        a {
            color: $color-text-white;
        }
    }
}

.file-row-item {
    padding: 2px 0 4px;
    margin-left: 0;
    margin-right: 0;
}

.file-row-col {
    padding-top: 2px;
    padding-left: 6px;
    margin-left: 0;

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
}
