<div class="row file-row-item" style='padding-top: 0px'>
    <div class="col-lg-7 file-row-col col-md-9 col-sm-9 col-xs-12 file-browser-header"
        {{action 'open' preventDefault='true'}}
        role="option">
        {{file-icon item=item}}
        <a {{action 'open' preventDefault='true'}} role="link">{{item.itemName}}</a>
    </div>
</div>
