.RegistrationsContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
}

.RegistrationsPane {
    padding-top: 20px;
    min-height: 150px;
}

h4:global(.NewRegistrationModal__header) {
    font-size: 24px;
    font-weight: normal;
}

:global(.NewRegistrationModal__info) {
    strong {
        font-weight: 600;
    }
}

:global(.NewRegistrationModal__schema-list) {
    ul {
        list-style: none;
    }

    li {
        position: relative;

        input {
            position: absolute;
            left: -1.4em;
            top: -0.1em;
        }

        &:global(.ember-content-placeholders-list__item)::before {
            content: '\25EF';
            position: absolute;
            left: -1.45em;
            color: #555;
        }
    }
}

.Tabs {
    /* stylelint-disable selector-no-qualifying-type */
    ul.TabList {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        line-height: 20px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        height: 41px;
        padding: 0;
    }
    /* stylelint-enable selector-no-qualifying-type */
    .TabList {
        li {
            display: block;
            position: relative;
            margin-bottom: -1px;
            float: left;
            height: 41px;
            padding: 10px 15px;
        }

        li:global(.ember-tabs__tab--selected) {
            background-color: #f8f8f8;
            border-bottom: 2px solid #204762;
        }

        li:hover {
            border-color: transparent;
            text-decoration: none;
            background-color: #f8f8f8;
            color: var(--primary-color);
        }
    }
}
