.AdvisoryGroup {
    // TODO colors
    background-color: #f3f5f7;
    border-bottom: 1px solid #e0e6ea;

    ul {
        list-style: none;

        li {
            padding-top: 5px;
            font-size: 16px;
        }
    }
}
