<div local-class='BrandContainer' {{with-branding this.brand.currentBrand}}>
    <div local-class='PrimaryColor'></div>
    <Navbar
        data-analytics-scope='Navbar'
        @dark={{true}}
        as |nav|
    >
        <nav.container>
            {{! Left Side (Band, Service Dropdown) }}
            <nav.section data-test-left>
                <OsfLink
                    data-test-brand
                    data-analytics-name='Brand'
                    @route='home'
                    local-class='Logo'
                    class='branded-logo'
                    aria-label={{t 'navbar.go_home'}}
                />
                <OsfLink @route='registries.branded'>{{t 'navbar.donate'}}</OsfLink>
            </nav.section>

        </nav.container>
    </Navbar>

    <Button @layout='small'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Small
    </Button>

    <Button @layout='medium'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Medium
    </Button>

    <Button @layout='large'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Large
    </Button>

    <Button @layout='fake-link' href='/registries/osf/discover'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Fake Link
    </Button>

    <Button @type='primary'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Primary
    </Button>

    <Button @type='create'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Create
    </Button>

    <Button @type='destroy'>
        {{!-- template-lint-disable no-bare-strings  --}}
        Destroy
    </Button>
</div>