<div local-class='meeting-detail-container'>
    <div local-class='meeting-detail'>
        <Meetings::Detail::-Components::MeetingDetailHeader @meeting={{this.model.taskInstance.value}} />
    </div>
    <div local-class='meeting-submission-list-container'>
        <Meetings::Detail::-Components::MeetingSubmissionsList @model={{this.model}} />
    </div>
</div>