.table {
    ul {
        display: table;
        width: 100%;
        border: 1px solid #eee;
        margin: 0;
        margin-bottom: 15px;
    }

    li {
        display: table-row;

        & > div {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.search {
    display: inline-block;
    width: 100%;
    background: #efefef;
    margin: 0 0 10px;
    padding: 7px;

    input {
        float: right;
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #ccc;

        &:focus {
            border-color: #66afe9;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }
}

.header > div {
    padding: 3px 0 7px 5px;
    font-weight: 700;
    background: #f5f5f5;
    border-left: 1px solid #ddd;

    &:first-of-type {
        border-left: 0;
    }
}

.sort-button {
    display: inline;
    padding-left: 4px;

    button,
    button:active,
    button:focus,
    button:focus:active,
    button:hover {
        padding-top: 0;
        height: 1em;
        margin-top: -10px;
    }
}

.item > div {
    padding: 2px 0 4px 5px;
    border-top: 1px solid #f5f5f5;

    :global(.ember-content-placeholders-text__line) {
        margin: 2px 0 3px 1px;
        height: 1em;
    }
}

.empty {
    text-align: center;
}
