<DocsDemo as |demo|>
    <demo.example @name='panel.demo-mix.hbs'>
        <Panel as |panel|>
            <panel.heading @title='I am a panel'>
                <span class='pull-right'>Here's some other stuff in the heading</span>
            </panel.heading>
            <panel.body @text='This is my body'>
                <OsfButton @type='default'>
                    This is something additional
                </OsfButton>
            </panel.body>
        </Panel>
    </demo.example>

    <demo.snippet @name='panel.demo-mix.hbs' />
</DocsDemo>
