{{title (t 'registries.drafts.draft.metadata.title')}}
<section>
    <h1>{{t 'registries.drafts.draft.metadata.title'}}</h1>
    {{!-- Enter basic data about this registration before moving on to the chosen form. --}}
</section>

