<form>
    <FormControls
        @changeset={{this.changeset}}
        ...attributes as |form|
    >
        <form.text
            data-test-metadata-title
            @label={{t 'registries.registration_metadata.title'}}
            @valuePath='title'
        />
        <form.textarea
            data-test-metadata-description
            @label={{t 'registries.registration_metadata.description'}}
            @valuePath='description'
        />
    </FormControls>
</form>