.Container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.MainColumn {
    flex-grow: 3;
}

.RightColumn {
    flex-grow: 1;
    border-left: 1px solid #ddd;

    &.is-closed {
        display: none;
    }
}

.RightButtons {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    z-index: 1;
}
