.Container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.MainColumn {
    flex-grow: 3;

    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 70vw;
    }
}

.RightColumn {
    flex-grow: 1;
    border-left: 1px solid #ddd;
    flex-basis: 300px;

    &.is-closed {
        display: none;
    }
}

.RightButtons {
    @media (max-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid #ddd;
    }
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    z-index: 1;
}

.Slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
