.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-column {
    flex-grow: 3;
    z-index: 1;

    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 70vw;
    }
}

.right-column {
    border-left: 1px solid #ddd;
    display: inline-flex;
    flex-basis: 300px;
    flex-direction: column;
    flex-grow: 1;
    width: 28vw;

    &.is-closed {
        display: none;
    }

    h2:nth-of-type(2) {
        border-top: 2px solid rgb(221, 221, 221);
        padding-top: 4vh;
    }
}

.right-buttons {
    @media (max-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid #ddd;
    }
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    z-index: 1;
}

.lider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
