<h3 local-class='Breadcrumbs' data-test-breadcrumbs>
    {{#each @breadcrumbs as |breadcrumb index| }}
        {{#if (eq index 0)}}
            {{t (concat 'registries.overview.files.storage_providers.' breadcrumb.name)}}
        {{else}}
            <span local-class='Divider'>></span> {{breadcrumb.name}}
        {{/if}}
    {{/each}}
</h3>
