<div class='container'>
    {{#if @user}}
        <h3>
            <OsfLink
                @route='guid-user.quickfiles'
                @models={{array @user.id}}
            >
                {{t 'quickfiles.title' user-name=@user.fullName}}
            </OsfLink>
        </h3>
    {{/if}}
</div>
