<div class='container'>
    {{#if @user}}
        <h3>
            {{#global-link-to 'guid-user.quickfiles' @user.id}}
                {{t 'quickfiles.title' user-name=@user.fullName}}
            {{/global-link-to}}
        </h3>
    {{/if}}
</div>
