.StatusBanner {
    margin: 0;

    :global(.StatusBanner__jumbotron) {
        padding: 10px 40px;
        margin-bottom: 0;

        a {
            color: #2d6a9f;
        }
    }

    :global(.StatusBanner__jumbo) {
        padding: 0;
    }
}
