<DocsDemo as |demo|>
    <demo.example @name='loading-indicator.inline-default-light.hbs'>
        <div local-class='dark-background'>
            {{! BEGIN-SNIPPET loading-indicator.inline-default.hbs }}
            <LoadingIndicator @inline={{true}} />
            {{! END-SNIPPET }}        
        </div>
    </demo.example>

    <demo.snippet @name='loading-indicator.inline-default.hbs' />
</DocsDemo>
