{{#if this.selectedItem}}
    <span local-class='selected-item'>{{this.selectedItem.text}}</span>
{{else}}
    <span local-class='Titles' ...attributes>
        {{#each this.subjectAncestry as |ancestor|}}
            <span local-class='AncestorTitle'>
                {{ancestor.text}}
            </span>
            <span local-class='delimiter'>/</span>
        {{/each}}
        <strong>{{this.subject.text}}</strong>
    </span>
{{/if}}
