<div local-class='active-filter-container'>
    <div local-class='header'>
        <h4>{{t 'collections.discover_page.active_filters.heading'}}:</h4>
    </div>
    <div local-class='button-container'>
        <button
            data-test-clear-filters-button
            type='button'
            class='btn btn-default btn-sm'
            {{action @clearFilters}}
        >
            {{t 'collections.discover_page.active_filters.button'}}
            <FaIcon @icon='times' />
        </button>
    </div>
</div>

{{#each @facetContexts as |context|}}
    {{component
        (concat 'discover-page/active-filters/' context.component)
        context=context
    }}
{{/each}}
