{{!-- template-lint-disable no-bare-strings --}}
<DocsDemo as |demo|>
    <demo.example @name='new-project-navigation-modal.demo.hbs'>
        <Button
            @class='center-block m-b-lg'
            {{on 'click' (action (mut this.shouldShowModal) true)}}
        >
            Create project
        </Button>
        {{#if this.shouldShowModal}}
            <NewProjectNavigationModal
                @node={{@node}}
                @closeModal={{action (mut this.shouldShowModal) false}}
                @title='Project created! Would you like to go there now?'
            />
        {{/if}}
    </demo.example>

    <demo.snippet @name='new-project-navigation-modal.demo.hbs' />
</DocsDemo>
{{!-- template-lint-enable no-bare-strings --}}
