{{#if this.showBanner}}
    <div local-class='CookieBanner'>
        <div local-class='Warning'>
            {{t 'cookieBanner.cookieWarning' htmlSafe=true}}
        </div>
        <div local-class='Accept'>
            <Button {{on 'click' (action this.accept)}}>
                {{t 'cookieBanner.accept'}}
            </Button>
        </div>
    </div>
{{/if}}
