{{#if showBanner}}
    <div local-class="Buffer"></div>
    <div local-class="CookieBanner">
        <div local-class="Warning">
            {{t 'cookieBanner.cookieWarning'}}
        </div>
        <div local-class="Accept">
            <button class="btn btn-default" {{action 'accept'}}>
                {{t 'cookieBanner.accept'}}
            </button>
        </div>
    </div>
{{/if}}