{{#if this.showBanner}}
    <div local-class='CookieBanner'>
        <div local-class='Warning'>
            {{t 'cookieBanner.cookieWarning' htmlSafe=true}}
        </div>
        <div local-class='Accept'>
            <BsButton @onClick={{action this.accept}}>
                {{t 'cookieBanner.accept'}}
            </BsButton>
        </div>
    </div>
{{/if}}
