/* stylelint-disable */
.btn-big {
    height: 80px;
    font-size: 16px;
    background-color: #eef2f3;
    white-space: normal;
}
.toggle-button {
    input {
        display: none;
        &:checked + label {
            background-color: #67A3BF;
            color: white;
        }
    }
    label {
        display: inline-block;
        background-color: #e4e4e4;
        color: #666666;
        text-align: center;
        text-shadow: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition:    all .3s ease-in-out;
        -ms-transition:     all .3s ease-in-out;
        -o-transition:      all .3s ease-in-out;
        transition:         all .3s ease-in-out;
        &.wide-text-only {
            float: none;
            margin-right: -4px;
            padding: 10px 10px;
            height: 75px;
            width: 250px;
            border-right: 1px solid #ccc;
            i {
                font-size: 30px;
                display: block;
            }
            &:last-of-type {
                border-right: none;
            }
        }
        &:hover {
            cursor: pointer;
            color: gray;
        }
        &:first-of-type {
            border-radius: 4px 0 0 4px;
        }
        &:last-of-type {
            border-radius: 0 4px 4px 0;
        }
    }
}
