<div 
    data-test-registration-provider-metadata-wrapper
    local-class='ProviderMetadataWrapper ProviderMetadata__field'
    ...attributes>

    <span local-class='ProviderMetadataLabel'>{{@field.field_name}}:</span>
    <span local-class='ProviderMetadataValue'>{{@field.field_value}}</span>
</div>