// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.form-container {
    width: 100%;
    margin-top: 20px;

    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .input {
            width: calc(100% - 50px);
        }

        .delete-container {
            display: flex;
            justify-content: center;
            width: 50px;

            .delete {
                color: $brand-danger;

            }
        }
    }
}
