{{!-- template-lint-disable no-bare-strings  --}}
<label>Brand Primary Color</label>
<Input @value={{this.primaryColor}} />
{{!-- template-lint-disable no-bare-strings  --}}
<Button {{on 'click' this.setPrimaryColor}}>Set Primary Color</Button>