<label>{{t 'app_components.brand_color_inputs.primary_label'}}</label>
<Input @value={{this.primaryColor}} />
<Button {{on 'click' this.setPrimaryColor}}>{{t 'app_components.brand_color_inputs.primary_set'}}</Button>