<div local-class='AddonSection'>
    <h4>{{@addon.name}}</h4>
    <a
        rel='noopener noreferrer'
        target='_blank'
        href={{@addon.url}}
    >
        {{t 'settings.addons.link'}}
    </a>
</div>
