<div class="AddonSection">
    <h4>{{@addon.name}}</h4>
    <a
        rel="noopener noreferrer"
        target="_blank"
        href={{@addon.url}}
    >
        Connect or reauthorize account
    </a>
</div>
