<div local-class='not-found-container'>
    <div data-analytics-scope='404' local-class='not-found'>
        <h2>{{t 'not_found.title'}}</h2>
        <p>{{t 'not_found.body' supportEmail=this.supportEmail htmlSafe=true}}</p>
    </div>
</div>
