<div data-analytics-scope='404' class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2>{{t 'not_found.title'}}</h2>
            <p>{{t 'not_found.body' supportEmail=this.supportEmail}}</p>
        </div>
    </div>
</div>
