<Institutions::Dashboard::-Components::InstitutionalDashboardWrapper @institution={{this.model.institution}} as |wrapper|>
    <wrapper.main>
        <div>
            {{t 'institutions.dashboard.tabs.preprints'}}
        </div>
        {{t 'institutions.dashboard.content-placeholder'}}
    </wrapper.main>
</Institutions::Dashboard::-Components::InstitutionalDashboardWrapper>
