<div local-class='EditDescription' data-test-description-input>
    <textarea
        local-class='form-control'
        rows=5
        disabled={{@manager.save.isRunning}}
        value={{@manager.currentDescription}}
        {{on 'input' @manager.updateDescription}}
    ></textarea>
</div>
