<div local-class='EditDescription' data-test-description-input>
    {{textarea
        class='form-control'
        autofocus='true'
        value=@manager.currentDescription
        disabled=@manager.save.isRunning
        rows=5
    }}
</div>
