<div data-test-review-action-wrapper ...attributes>
    <p>
        {{this.translationString}}
        {{#if this.hasComment}}
            <br>
            <i>
                &mdash; {{@reviewAction.comment}}
            </i>
        {{/if}}
    </p>
</div>