<div data-analytics-scope='No api page' local-class='error-container'>
    <h2>{{t 'error_no_api.title'}}</h2>
    <p>{{t 'error_no_api.body' supportEmail=this.supportEmail htmlSafe=true}}</p>
</div>
