<div data-analytics-scope='No api page' class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2>{{t 'error_no_api.title'}}</h2>
            <p>{{t 'error_no_api.body' supportEmail=this.supportEmail}}</p>
        </div>
    </div>
</div>
