{{#if this.stateBanner }}
    <div local-class='Banner' data-test-banner={{@currentState}}>
        <BsAlert @dismissible={{this.dismissible}} @type={{this.stateBanner.type}}>
            <div class='text-center'>
                {{t this.stateBanner.text embargoEndDate=(moment-format this.registration.embargoEndDate 'MMMM D, YYYY') projectUrl=this.projectUrl}}
            </div>
        </BsAlert>
    </div>
{{/if}}
