{{#if (and this.stateBanner.text this.stateBanner.type) }}
    <div local-class='Banner' data-test-banner={{@registration.state}}>
        <BsAlert @dismissible={{this.dismissible}} @type={{this.stateBanner.type}}>
            <div class='text-center'>
                {{t this.stateBanner.text embargoEndDate=(moment-format @registration.embargoEndDate 'MMMM D, YYYY') projectUrl=this.projectUrl}}
            </div>
        </BsAlert>
    </div>
{{/if}}
