<form>
    <FormControls
        @changeset={{this.changeset}}
        ...attributes as |form|
    >
        <form.text
            data-test-metadata-title
            @label='Title'
            @valuePath='title'
        />
        <form.textarea
            data-test-metadata-description
            @label='Description'
            @valuePath='description'
        />
        
        <form.select
            data-test-metadata-category
            @label='Category'
            @valuePath='category'
            @options={{this.categoryOptions}}
        />
    </FormControls>
</form>