{{! template-lint-disable no-bare-strings }}
<div local-class="AdvisoryGroup" class="p-v-md">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{t "registries.index.advisory.heading"}}</h2>
                <p class="m-b-lg">{{t "registries.index.advisory.paragraph"}}</p>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li><b>Stuart Buck :</b> Laura and John Arnold Foundation</li>
                    <li><b>Chris Chambers :</b> Registered Reports, Cardiff University</li>
                    <li><b>Ben Goldacre :</b> University of Oxford</li>
                    <li><b>Susan Hyde :</b> EGAP, UC Berkeley</li>
                    <li><b>Brendan Nyhan :</b> University of Michigan</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul>
                    <li><b>Neeta Goel :</b> RIDIE, 3ie</li>
                    <li><b>Jessaca Spybrook :</b> IES, Western Michigan University</li>
                    <li><b>James Turitto :</b> Poverty Action Lab</li>
                    <li><b>Coosje Veldkamp :</b> Dutch Inspectorate of Education</li>
                </ul>
            </div>
        </div>
    </div>
</div>
