<OsfLayout @backgroundClass='background' as |layout|>
    <layout.heading>
        <HeroOverlay @align='left'>
            <div local-class='title'>
                <h1>
                    {{this.model.name}}
                </h1>
            </div>
        </HeroOverlay>
    </layout.heading>
    <layout.main>
        {{!-- Buttons to choose which view/subroute is shown --}}
        {{!-- Subroutes to render depending on what is selected --}}
        {{!-- Submissions | Withdrawals | Moderators --}}
        {{outlet}}
    </layout.main>
</OsfLayout>
