<h2
  data-test-collections-moderation-settings-heading
>
    {{t 'collections.moderation.settings.heading'}}
</h2>
<p
  data-test-collections-moderation-settings-paragraph
>
    {{t 'collections.moderation.settings.paragraph' link=this.userSettingsLink htmlSafe=true}}
</p>

<Subscriptions::Manager
    @provider={{this.model}}
    as |manager|
>
    <Subscriptions::List
        @manager={{manager}}
    />
</Subscriptions::Manager>