<h2>
    {{t 'collections.moderation.settings.heading'}}
</h2>
<p>
    {{t 'collections.moderation.settings.paragraph' link=this.userSettingsLink htmlSafe=true}}
</p>

<Subscriptions::Manager
    @subscriptionIds={{this.subscriptionIds}}
    as |manager|
>
    <Subscriptions::List
        @manager={{manager}}
    />
</Subscriptions::Manager>