{{#unless this.registration.isRoot}}
    <div data-test-root-link local-class='AboutComponent'>
        {{t 'registries.overview.component_of' rootTitle=this.root.title rootUrl=this.root.url}}
    </div>
{{/unless}}
<RegistrationFormView
    @schema={{this.registration.registrationSchema.schema}}
    @answers={{this.registration.registeredMeta}}
/>
