{{page-title (t 'preprints.submit.title')}}

<div local-class='submit-page-container {{if this.isMobile 'mobile'}}'>
    <div local-class='header-container'>
        {{!-- header place holder --}}
        {{!-- Header Container for {{this.model.provider.id}} --}}
    </div>
    <div local-class='state-machine-container'>
        {{!-- State Machine Container --}}
    </div>
</div>

