<span data-analytics-name='Contributor name'>
    {{#if this.contributorLink}}
        {{#osf-link href=this.contributorLink}}
            {{~this.contributorName~}}
        {{/osf-link}}
    {{~else~}}
        {{~this.contributorName~}}
    {{/if}}
</span>
