{{~#if this.contributorLink~}}
    {{!--
        using <a> instead of <Link> so handlebars `~` can eat up whitespace
        TODO: switch to `{{#osf-link}}` invocation when <Link> is renamed
    --}}
    <a
        data-test-contributor-name
        data-analytics-name='Contributor name'
        href={{this.contributorLink}}
    >
        {{~this.contributorName~}}
    </a>
{{~else~}}
    <span data-test-contributor-name>
        {{~this.contributorName~}}
    </span>
{{~/if~}}