{{title (t 'settings.developer-apps.title')}}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">{{t 'settings.developer-apps.title'}}</h3>
    </div>
    <div class="panel-body">
        {{outlet}}
    </div>
</div>
