.form-item {
    padding: 10px;
}

.sub-text {
    font-size: 12px;
    padding-left: 1px;
    color: #31708f;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 5px;
    }
}
