<div data-analytics-scope='Create'>
    <div>
        <OsfLink
            data-test-back-to-tokens
            data-analytics-name='Back to list'
            @route='settings.tokens'
        >
            <FaIcon @icon='arrow-left' />
            {{t 'settings.tokens.backToList'}}
        </OsfLink>
    </div>
    <h4>{{t 'settings.tokens.createToken'}}</h4>

    <Settings::Tokens::-Components::CreateForm />
</div>