<div data-analytics-scope='Create'>
    <div>
        <OsfLink
            data-test-back-to-tokens
            data-analytics-name='Back to list'
            @route='settings.tokens'
        >
            <FaIcon @icon='arrow-left' />
            {{t 'settings.tokens.backToList'}}
        </OsfLink>
    </div>
    <h4>{{t 'settings.tokens.createToken'}}</h4>

    {{#settings/tokens/-components/token-form
        onSave=(action 'onSave')
        as |form|
    }}
        <BsButton
            data-test-create-token-button
            data-analytics-name='Submit button'
            disabled={{form.disabled}}
            @buttonType='submit'
            @type='primary'
        >
            {{t 'settings.tokens.createToken'}}
        </BsButton>
    {{/settings/tokens/-components/token-form}}
</div>