&__popover {
    max-width: 450px;
    text-align: center;
    width: 450px;

    .SharePane {
        &__copy-url-container {
            height: 34px;
            vertical-align: top;
        }

        &__mfr-url {
            height: 33px;
        }

        &__button-group {
            margin: 12px 4px 3px;
        }

        &__tab {
            cursor: pointer;
        }

        &__share-link {
            background-color: $color-bg-gray-light;
            display: inline-block;
            margin: 0 2px;
            padding: 0 2px;
            text-align: center;
            width: 35px;
        }

        &__share-link:hover {
            background-color: $color-bg-gray;
        }

        &__share-link i {
            color: $color-link-light;
            font-size: 1.6em;
            line-height: 1.6em;
        }
    }
}
