.sign-up-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.provider {
    display: flex;
    justify-content: center;
    align-items: center;

    .provider-logo {
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
}

.osf-service-logo {
    max-width: 100%;
    width: 300px;
    margin-top: 10px;
}

.sign-up-buttons {
    display: flex;
    justify-content: center;
}

.sign-up-button {
    display: flex;
    width: 150px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, $color-bg-white 0, $color-bg-gray 100%);
    border: 1px solid $color-border-gray-darker;
    color: $color-text-black;
    border-radius: 4px;
    padding: 0;
    margin: 0 7.5px;

    &:hover {
        text-decoration: none;
        color: $color-text-black;
        background-image: linear-gradient(to bottom, $color-bg-gray-lighter 0, $color-bg-gray-dark 100%);
    }
}

.sign-up-button__logo {
    flex: 0 0 45px;
    border-right: 1px solid $color-border-gray-darker;
    padding: 6px;
    height: 44px;
    width: 45px;
}

.sign-up-button__label {
    flex: 1;
    text-align: center;
    padding: 13px 0;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: $color-text-black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    font-size: 1.4em;

    &::before {
        content: '';
        background: linear-gradient(to right, transparent, $color-bg-black, $color-bg-gray-lighter);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &::after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: $color-text-black;
        padding: 0 0.5em;
        line-height: 1.5em;
        background-color: $color-bg-gray-light;
    }
}
