<div class="AnimatedIcon AnimatedIcon--success">
    <div class="AnimatedIcon__circular-line-left"></div>
    <span class="AnimatedIcon__line-tip"></span> 
    <span class="AnimatedIcon__line-long swal2-animate-success-line-long"></span>
    <div class="AnimatedIcon__ring"></div> <div class="AnimatedIcon__fix"></div>
    <div class="AnimatedIcon__circular-line-right"></div>
</div>
