<div data-test-panel class='panel panel-default' local-class='Panel'>
    {{yield (hash heading=(component 'panel/x-heading'))}}
    {{yield (hash body=(component 'panel/x-body'))}}
    {{yield (hash footer=(component 'panel/x-footer'))}}
</div>
