// stylelint-disable selector-class-pattern
& {
    padding-left: 10px;
    display: table-cell;
}

button {
    appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    font-size: large;
}

.selected {
    color: $color-text-black;
}

.not-selected {
    color: $color-text-blue-dark;
}
