{{! template-lint-disable bare-strings }}
<div class="container copyright">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="copyright"> Copyright &copy; 2011-{{currentYear}}</span>
                <a href="https://cos.io">Center for Open Science</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">Terms of Use</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
