{{! template-lint-disable bare-strings }}
<div class="container copyright">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="copyright"> Copyright &copy; 2011-{{currentYear}}</span>
                <a href="https://cos.io" onclick={{action 'click' 'link' 'Copyright - cos_io' target=analytics}}>Center for Open Science</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md" onclick={{action 'click' 'link' 'Copyright - terms' target=analytics}}>Terms of Use</a> |
                <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/PRIVACY_POLICY.md" onclick={{action 'click' 'link' 'copyright - privacy' target=analytics}}>Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
