// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.status-container {
    width: 192px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: inherit;
    cursor: pointer;
    z-index: 1;

    &.finished {
        color: $brand-success;
    }

    &.selected {
        width: 193px;
        margin-right: -1px;
        font-weight: bold;
        border: 1px solid $color-border-gray-darker;
        border-right: 0;
        background-color: $color-bg-white;
        color: $color-text-black;
        cursor: default;
    }

    .graphics-container {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $color-bg-white;
        color: #333;
    }

    .link-container {
        padding-left: 10px;
        width: 100%;
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .disabled {
            color: $color-text-black;
            pointer-events: none;
            cursor: default;
        }
    }
}
