<div class='row'>
    {{#each this.chartSpecs as |chartSpec|}}
        <div class='col-sm-6 col-xs-12'>
            {{analytics-charts/x-chart-wrapper
                chartSpec=chartSpec
                chartEnabled=@chartsEnabled
                overlayShown=this.shouldUseFakeData
                apiError=@chartsDataTaskInstance.isError
            }}
        </div>
    {{/each}}
</div>