<div local-class='chart-container'>
    {{#each this.chartSpecs as |chartSpec|}}
        <div local-class='chart {{if this.isMobile 'mobile'}}'>
            {{analytics-charts/x-chart-wrapper
                chartSpec=chartSpec
                chartEnabled=@chartsEnabled
                overlayShown=this.shouldUseFakeData
                apiError=@chartsDataTaskInstance.isError
            }}
        </div>
    {{/each}}
</div>