<ul local-class='ContributorList' ...attributes>
    {{#let (get
        (hash
            readonly=(component 'contributors/card/readonly')
            editable=(component 'contributors/card/editable' manager=@contributorsManager)
        )
        @widgetMode
    ) as |Card|}}
        {{#each @contributorsManager.contributors as |contributor|}}
            <li>
                <Card @contributor={{contributor}} />
            </li>
        {{/each}}
        {{#if (and (not @contributorsManager.isLoading) @contributorsManager.hasMore)}}
            <div local-class='InfinityLoader'
                {{in-viewport
                    onEnter=(fn @contributorsManager.fetchContributors)
                }}
            >
                {{t 'osf-components.contributors.loadMore'}}
            </div>
        {{/if}}
        {{#if @contributorsManager.isLoading}}
            <LoadingIndicator @dark={{true}} />
        {{/if}}
    {{/let}}
</ul>
