@media(min-width: $screen-md-min) {
    .SideNav.SideNav {
        display: block;
    }
}

.NavToggle {
    color: $color-text-black;
    float: right;
    font-size: large;
    padding: 0;
    line-height: 1em;
}

.ProfileNav {
    margin-left: 20px;
    display: none;
}

:global(.active) .ProfileNav {
    display: block;
}
