@media(min-width: $screen-md-min) {
    .SideNav.SideNav {
        display: block;
    }
}

.NavToggle {
    color: $color-text-black;
    float: right;
    font-size: large;
    padding: 0;
    line-height: 1em;
}

.stacked-nav {
    ul {
        list-style: none;
        padding-left: 0;
    }

    li:has(:global(.active)) {
        background-color: $color-bg-blue-dark;

        :hover {
            background-color: $color-bg-blue-dark;
        }
    }

    a:global(.active) {
        color: $color-text-white;
    }

    li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-radius: 0;
        text-decoration: none;
    }

    li > a:hover {
        text-decoration: none;
    }

    li:hover {
        background-color: $color-bg-gray-lighter;
    }
}
