<div>
    <h4>{{t 'preprints.detail.tags'}}</h4>
    {{#if @preprint.tags.length}}
        {{#each @preprint.tags as |tag|}}
            <span local-class='badge'>{{tag}}</span>
        {{/each}}
    {{else}}
        {{t 'preprints.detail.none'}}
    {{/if}}
</div>