<div data-analytics-scope='Create'>
    <OsfLink
        data-test-back-to-developer-apps
        data-analytics-name='Back to list'
        @route='settings.developer-apps'
    >
        {{fa-icon 'arrow-left'}}
        {{t 'settings.developer-apps.backToList'}}
    </OsfLink>
</div>
<h4>{{t 'settings.developer-apps.createApp'}}</h4>
<Settings::DeveloperApps::-Components::AppForm
    @developerApp={{this.developerApp}}
    @mode='create'
/>
