<header local-class={{if (not this.panel.open) 'closed'}}>
    {{this.title}}
</header>
{{#this.panel.body}}
    {{#if this.description}}
        <p>{{this.description}}</p>
    {{/if}}
    {{yield}}
{{/this.panel.body}}
