{{page-title this.theme.provider.providerTitle replace=true}}
{{#if this.theme.isProvider}}
    <div {{with-branding (get-model this.theme.provider.brand)}}>
        <ThemeStyles />
        <BrandedNavbar
            @translateKey='collections.general.brand'
            @brandRoute='preprints.discover'
            @addLinkKey='collections.navbar.add'
        />
    </div>
{{/if}}
{{outlet}}
