.select {
    max-width: 320px;
    padding: 7px 16px 7px 14px;
    margin-bottom: 15px;
    border-color: #ddd;
    border-radius: 2px;
    color: #337ab7;
}

.table {
    margin-bottom: 15px;

    ul {
        display: table;
        table-layout: fixed;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 2px;
        margin: 0;
        margin-bottom: 15px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    li {
        display: table-row;

        & > div {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.sort-button {
    display: inline;
    padding-left: 4px;

    button,
    button:active,
    button:focus,
    button:focus:active,
    button:hover {
        padding-top: 0;
        height: 1em;
        margin-top: -10px;
    }
}

.header {
    background: #365063;
    color: #fff;

    & > div {
        padding: 15px;
        text-transform: uppercase;

        &:nth-child(3),
        &:nth-child(4) {
            width: 64px;
            text-align: center;
        }
    }
}

.row > div {
    padding: 15px;
    border-right: 1px solid #ddd;

    &:nth-child(3),
    &:nth-child(4) {
        text-align: center;
    }

    &:last-child {
        border-right: 0;
    }

    :global(.ember-content-placeholders-text__line) {
        margin-bottom: 0;
    }
}

.row:nth-child(odd) {
    background-color: #eee;
}
