<div local-class='AnimatedIcon AnimatedIcon--success'>
    <div local-class='AnimatedIcon__circular-line AnimatedIcon__circular-line-left'></div>
    <span local-class='AnimatedIcon__line AnimatedIcon__line-tip'></span> 
    <span local-class='AnimatedIcon__line AnimatedIcon__line-long'></span>
    <div local-class='AnimatedIcon__ring'></div>
    <div local-class='AnimatedIcon__fix'></div>
    <div local-class='AnimatedIcon__circular-line AnimatedIcon__circular-line-right'></div>
</div>
