{{docs-hero
    logo='ember'
    slimHeading='OSF'
    strongHeading='Web'
    byline='Front-end Developer Handbook'
}}

<div local-class='Link'>
    {{#link-to 'docs' class='btn btn-primary'}}Begin!{{/link-to}}
</div>
