<div local-class='Hero'>
    {{docs-hero
        slimHeading='Emb'
        strongHeading='OSF'
        byline='It\'s pronounced "emboss"'
    }}
</div>

<div class='docs-container docs-md'>
    <section local-class='Content'>
        {{index/index-content}}

        <div local-class='Link'>
            {{#link-to 'docs' class='btn btn-primary'}}
                Read the docs
            {{/link-to}}
        </div>
    </section>
</div>
