<div local-class='Hero'>
    {{docs-hero
        logo='ember'
        slimHeading='OSF'
        strongHeading='Web'
        byline='Developer Handbook'
    }}
</div>

<div local-class='Link'>
    {{#link-to 'docs' class='btn btn-primary'}}Begin!{{/link-to}}
</div>
