<div>
    <h4>
        {{t 'preprints.submit.step-five.public-data'}}
    </h4>
    <div local-class='display'>
        <div local-class='text'>
            {{this.publicDataDisplay}}
        </div>
    </div>
</div>
