&__modal {
    .NewProject {
        &__label {
            width: 100%;
        }

        &__institution-selector > a {
            float: right;
            margin-right: 12px;
        }

        &__institution-item {
            position: relative;
            margin: 10px;
        }

        &__institution-img-not-selected {
            opacity: 0.25;
            filter: grayscale(100%);
        }

        &__placeholder {
            color: $color-text-gray-dark;
        }
    }
}
