.section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    button {
        padding: 0 !important;
    }

    .image {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7d7d7d;
    margin: 20px 0 20px 33px;

    p {
        margin: 0;
    }

    button {
        padding: 0;
    }
}

.danger {
    color: #da5956;

    &:focus {
        color: #a94442;
    }

    &:hover {
        color: #a94442;
    }

    &:active {
        color: #a94442;
    }
}
