.section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .image {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    color: #7d7d7d;
    margin: 0 25px;
}
