<div local-class='section'>
    <div local-class='body'>
        <div local-class='title'>
            <img
                local-class='image'
                src={{@addon.image}}
                alt={{concat @addon.name ' storage image'}}
            >
            <h4>{{@addon.name}}</h4>
        </div>
        {{yield}}
    </div>
    {{#if account}}
        <div local-class='footer'>
            <p>Authorized</p>
        </div>
    {{/if}}
</div>
