<div local-class='section'>
    <div local-class='title'>
        <img
            local-class='image'
            src={{@addon.image}}
            alt={{concat @addon.name ' storage image'}}
        >
        <h4>{{@addon.name}}</h4>
        {{#if account}}
            <p>Account Connected</p>
        {{/if}}
    </div>
    {{yield}}
</div>
