<div local-class='container'>
    <div local-class='hero'>
        <header local-class='headerContainer'>
            <h1 data-test-hero-heading>
                {{t 'new_home.header'}}
            </h1>
            <p data-test-hero-subheading local-class='headerSubHeading'>
                {{t 'new_home.subHeader'}}
            </p>
            <AddYourResearch />
            <DiscoverResearch @onSearch={{action 'search'}} />
        </header>
    </div>
</div>
