/* stylelint-disable */
&__button-label {

    pointer-events: none;
}

&__edit-panel {
    @include quickfiles-panel;
    padding: 0;
}

&__tags-panel {
    @include quickfiles-panel;

    .emberTagInput-tag {
        background: $color-bg-blue-light;
        border-radius: 0;
        color: $color-text-black;
        cursor: pointer;
        font-size: 13px;
        max-width: 100%;
        overflow-wrap: break-word;

        > a {
            color: $color-text-black;
        }

        :hover {
            background: $color-bg-blue-dark;
            color: $color-text-gray-cool;

            > a {
                color: $color-text-gray-cool;
            }
        }
    }

    .emberTagInput-new {
        width: 100%;

        > input {
            width: inherit;
        }

        ::-webkit-input-placeholder {
            // Webkit, Blink, Edge
            color: $color-text-gray-light;
        }

        :-moz-placeholder {
            // Mozilla Firefox 4 to 18
            color: $color-text-gray-light;
            opacity: 1;
        }

        ::-moz-placeholder {
            // Mozilla Firefox 19+
            color: $color-text-gray-light;
            opacity: 1;
        }

        :-ms-input-placeholder {
            // Internet Explorer 10-11
            color: $color-text-gray-light;
        }

        ::-ms-input-placeholder {
            // Microsoft Edge
            color: $color-text-gray-light;
        }
    }
}

&__revisions-table {
    @include quickfiles-panel;
    margin-bottom: 0;

    a {
        cursor: pointer;
    }

    .file-version {
        .input-group {
            width: 180px;
        }

        .hashBox {
            float: left;
            height: 30px;
        }
    }
}

&__share-popover {
    max-width: 450px;
    text-align: center;
    width: 450px;
}

&__copy-url-container {
    height: 34px;
    vertical-align: top;
}

&__mfr-url {
    height: 33px;
}

&__share-buttons {
    margin: 12px 4px 3px;
    padding-top: 30px;

    > a {
        background-color: $color-bg-gray-light;
        display: inline-block;
        margin: 0 2px;
        padding: 0 2px;
        text-align: center;
        width: 35px;

        :hover {
            background-color: $color-bg-gray;
        }
    }

    .fa {
        color: $color-link-light;
        font-size: 1.6em;
        line-height: 1.6em;
    }
}

&__sidebar {
    .file-browser {
        height: 400px;
        margin-bottom: 20px;
    }
}

&__content {
    padding-top: 40px;
}

&__version-link {
    cursor: pointer;
}
/* stylelint-enable */
