/* stylelint-disable */
& {
    border: 1px solid #eee;
    border-top: none;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
}

.breadcrumb {
    margin-bottom: 0;
}

.btn:not(.modal-btn) {
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0 0 2px #BBB;
    background: #F8F8F8;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px;
    margin-top: 4px;
    &:disabled {
        cursor: not-allowed;
        box-shadow: none;
    }
}

.actions-header {
    background: #efefef;
    border: 1px solid #eee;
    margin: 0 0 3px;
    background: #efefef;
    padding: 6px 0;
    &.small-display {
        margin-bottom: 3px;
    }
}

.items {
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.shade {
    background: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    &.transparent {
        opacity: 0;
    }
}

.file-row-item {
    margin-left: 0px;
    margin-right: 0px;
}

.file-row-col {
    padding-top: 2px;
    padding-left: 6px;
    margin-left: 0px;
}
