{{~#each this.updatedResponseLabels as |response|~}}
    <p data-test-revised-responses-list='{{response}}' ...attributes>
        {{~response~}}
    </p>
{{~else}}
    <p data-test-revised-responses-list-no-update ...attributes>
        {{~t 'registries.edit_revision.revised_responses_list.no_responses'~}}
    </p>
{{/each}}