// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.preprint-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-container {
        width: 100%;

        .required {
            color: $brand-danger;
        }

        .input-container {
            margin-bottom: 20px;
        }
    }

    &.mobile {
        height: fit-content;
    }
}
