<div
    data-analytics-scope='Registries'
    local-class='RegistriesLayout'
    class='RegistriesStyle'
    ...attributes
>
    <RegistriesNavbar class='RegistriesStyle' @campaign='osf-registries' />
    {{yield}}
</div>