<div
    data-analytics-scope='Registries'
    local-class='RegistriesLayout'
    class='RegistriesStyle'
    ...attributes
>
    <RegistriesNavbar class='RegistriesStyle' @campaign='osf-registries' />
    <MaintenanceBanner />
    <StatusBanner />
    <TosConsentBanner />
    <Banners::ViewOnlyLink />
    {{yield}}
</div>