<div
    data-analytics-scope='Registries'
    local-class='RegistriesLayout'
    class='RegistriesStyle'
    ...attributes
>

    <RegistriesNavbar class='RegistriesStyle' @campaign='osf-registries'>
        {{#if (has-block 'navbar-logo')}}
            <:logo>
                {{yield to='navbar-logo'}}
            </:logo>
        {{/if}}
    </RegistriesNavbar>

    <MaintenanceBanner />
    <StatusBanner />
    <TosConsentBanner />
    <Banners::ViewOnlyLink />
    {{yield to='body'}}
</div>

