<DocsViewer as |viewer|>
    <viewer.nav @project={{this.model}} as |nav|>
        <nav.section @label='Introduction' />
        <nav.item @label='What is this handbook?' @route='docs.index' />
        <nav.item @label='Contributing to the handbook' @route='docs.contributing' />

        <nav.section @label='Development' />
        <nav.item @label='Quickstart' @route='docs.quickstart' />
        <nav.item @label='How to…' @route='docs.how-to' />
        <nav.item @label='Troubleshooting' @route='docs.troubleshooting' />
        <nav.item @label='Developer Environment' @route='docs.dev-env' />
        <nav.item @label='Testing' @route='docs.testing' />
        <nav.item @label='Analytics' @route='docs.analytics' />
        <nav.item @label='Additional resources' @route='docs.resources' />

        <nav.section @label='Style guide' />
        <nav.item @label='Visual style' @route='docs.visual-style' />
        <nav.item @label='Written style' @route='docs.written-style' />

        <nav.section @label='Component gallery' />
        <nav.item @label='ancestry-display' @route='docs.components.ancestry-display' />
        <nav.item @label='bs-alert' @route='docs.components.bs-alert' />
        <nav.item @label='contributor-list' @route='docs.components.contributor-list' />
        <nav.item @label='copyable-text' @route='docs.components.copyable-text' />
        <nav.item @label='delete-button' @route='docs.components.delete-button' />
        <nav.item @label='osf-link' @route='docs.components.osf-link' />
        <nav.item @label='institutions-widget' @route='docs.components.institutions-widget' />
        <nav.item @label='loading-indicator' @route='docs.components.loading-indicator' />
        <nav.item @label='new-project-modal' @route='docs.components.new-project-modal' />
        <nav.item @label='new-project-navigation-modal' @route='docs.components.new-project-navigation-modal' />
        <nav.item @label='osf-button' @route='docs.components.osf-button' />
        <nav.item @label='osf-link' @route='docs.components.osf-link' />
        <nav.item @label='panel' @route='docs.components.panel' />
        <nav.item @label='placeholder' @route='docs.components.placeholder' />
        <nav.item @label='tags-widget' @route='docs.components.tags-widget' />
        <nav.item @label='validated-model-form' @route='docs.components.validated-model-form' />
    </viewer.nav>

    <viewer.main>
        <div class='docs-container'>
            <div
                data-analytics-scope='Handbook docs'
                local-class='DocsPage'
                class='docs-section'
            >
                {{outlet}}
            </div>
        </div>
    </viewer.main>
</DocsViewer>
