{{#each messages as |stat|}}
    {{#bs-alert
        type=stat.class
        dismissable=stat.dismiss
        classNames=(if stat.jumbo 'StatusBanner__jumbo')
    }}
        <div class="{{if stat.jumbo 'StatusBanner__jumbotron jumbotron'}}">
            <p>{{t stat.id extra=stat.extra}}</p>
        </div>
    {{/bs-alert}}
{{/each}}
