// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.chart-container {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 290px;
    min-height: 290px;
    height: fit-content;
    background-color: $color-bg-white;

    .top-container {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ember-chart {
            max-width: 220px;
            max-height: 220px;
        }
    }

    .bottom-container {
        width: 100%;
        min-height: 50px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title-container {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .title {
                font-size: 14px;
                font-weight: normal;
                height: 25px;
            }

            .button-container {
                margin-left: 5px;
                height: 25px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .facet-expand-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
        
        .expanded-data-container {
            width: 100%;
            border-top: 2px solid $color-bg-gray;
            padding-top: 10px;

            &.collapsed {
                border-top: 0;
                display: none;
            }

            .data-list {
                list-style: none;
                margin: 0;
                padding: 0.2rem;
                width: 100%;

                .data-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 282px;

                    .name {
                        margin: 0 5px;
                        width: calc(282px - 100px);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .color {
                        width: 20px;
                        height: 20px;
                    }

                    .count {
                        width: 80px;
                        text-align: right;
                    }
                }
            }
        }
    }

    &.mobile {
        margin-right: 0;
        margin-bottom: 12px;
    }
}


