/* stylelint-disable selector-class-pattern */

.has-error input:not(:placeholder-shown) {
    border: 1px solid #a94442;
}

.error {
    background-color: #e0ebf3;
}

button,
input,
.help-block {
    z-index: 9;
    position: relative;
}

.CreatePassword {
    margin-top: 5px;
    margin-bottom: 5px;
    height: inherit;
}

.RecaptchaParent {
    z-index: 9;

    .g-recaptcha {
        display: inline-block;
        margin: 0 auto;
    }
}

@for $i from 0 through 5 {
    .progress-bar-#{$i} {
        width: #{$i * 20%};
    }
}

& {
    &__progress-bar-primary-bright {
        background-color: $progress-bar-primary-bg-bright;
    }

    &__progress-bar-info-bright {
        background-color: $progress-bar-info-bg-bright;
    }

    &__progress-bar-success-bright {
        background-color: $progress-bar-success-bg-bright;
    }

    &__progress-bar-warning-bright {
        background-color: $progress-bar-warning-bg-bright;
    }

    &__progress-bar-danger-bright {
        background-color: $progress-bar-danger-bg-bright;
    }
}
