.Footer {
    margin-top: 0;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;

    &__link-item {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}
