// stylelint-disable max-nesting-depth, selector-max-compound-selectors


.action-flow-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .button-container {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border-bottom: 1px solid $color-border-gray-darker;
    
        .btn {
            width: 145px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .caution-container {
        padding: 20px;
        width: 100%;

        .icon-container {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 5px;

            .fav-icon {
                margin-right: 5px;
            }
        }
    }

    &.mobile {
        height: fit-content;
    }
}

:global(.preprint-delete-btn) {
    width: 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
