{{#tag-input
    data-test-tags-widget-tag-input
    local-class='TagsWidget'
    tags=@tags
    addTag=(action this._addTag)
    removeTagAtIndex=(action this._removeTag)
    allowSpacesInTags=true
    placeholder=(t 'osf-components.tags-widget.add_tag')
    ariaLabel=(t 'osf-components.tags-widget.tags')
    readOnly=@readOnly
    as |tag|
}}
    <span data-test-tags-widget-tag="{{tag}}" role="link" {{action this._clickTag tag}}>{{tag}}</span>
{{/tag-input}}