<div>
    <h4>
        {{t 'preprints.submit.step-five.conflict-of-interest'}}
    </h4>
    <div local-class='display'>
        <div local-class='text'>
            {{this.coiDisplay}}
        </div>
    </div>
</div>