{{#docs-demo as |demo|}}
    {{#demo.example name="loading-indicator.inline-default-light.hbs"}}
        <div local-class='dark-background'>
            {{! BEGIN-SNIPPET loading-indicator.inline-default.hbs }}
            {{loading-indicator inline=true}}
            {{! END-SNIPPET }}        
        </div>
    {{/demo.example}}

    {{demo.snippet 'loading-indicator.inline-default.hbs'}}
{{/docs-demo}}
