<div local-class='container'>
    <img data-test-icon-image src='/assets/images/dashboard/{{this.icon}}.svg' alt='{{this.icon}}'>
    <h2 data-test-support-header>
        {{this.header}}
    </h2>
    <p data-test-support-description>
        {{this.description}}
    </p>
</div>