.location-and-date-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.toggle-panel-button {
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.meeting-homepage-link {
    vertical-align: baseline;
}

.toggle-button-and-homepage-link-container {
    margin-top: 25px;
}

.panel-header-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.meeting-format-body {
    padding-left: 25px;
}
