.location-and-date-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.toggle-panel-button {
    margin-top: 5px;
}

.panel-header-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}
