<nav
    data-test-nav
    role='navigation'
    local-class='Nav {{if this.dark 'Dark' 'Light'}} {{if this.mobile 'Mobile'}}'
    ...attributes
>
    {{yield (hash
        container=(component 'container' class=(local-class 'NavbarContainer'))
        divider=(component 'x-dummy' class=(local-class 'Divider'))
        icon=(component 'fa-icon' fixedWidth=true class=(local-class 'Icon'))
        item=(component 'x-dummy' class=(local-class 'Item'))
        section=(component 'x-dummy' class=(local-class 'Section'))
        bordered-section=(component 'x-dummy' class=(local-class 'Section Bordered'))

        buttons=(hash
            default=(component 'x-dummy' tagName='a' role='button' class=(local-class 'Default Item'))
            primary=(component 'x-dummy' tagName='a' role='button' class=(local-class 'Primary Item'))
            secondary=(component 'x-dummy' tagName='a' role='button' class=(local-class 'Secondary Item'))
        )

        links=(hash
            default=(component 'osf-link' class=(local-class 'Default Link Item'))
            primary=(component 'osf-link' class=(local-class 'Primary Link Item'))
            secondary=(component 'osf-link' class=(local-class 'Secondary Link Item'))
        )
    )}}
</nav>
