.FileEditor__panel-heading {
    text-align: left;
    padding: 7px 10px;
    background-color: #efefef;
    justify-content: flex-start;
    color: #333;
    border-color: #ddd;
}

.FileEditor__panel-title {
    font-weight: 400;
    float: none;
}

.FileEditor__text-editor {
    padding-top: 10px;
}
