.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    background-color: $color-bg-gray;
    width: 100%;
}
