.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    background-color: $color-bg-gray;
    width: 100%;

    .kpi-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 12px;
        width: 100%;
        height: fit-content;
    }

    .chart-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;
        min-height: 290px;
        height: fit-content;
    }

    &.mobile {
        .kpi-container,
        .chart-container {
            margin-bottom: 0;
        }
    }
}
