/* stylelint-disable selector-class-pattern */

a:not(.btn),
.btn-link {
    font-weight: bold;
}

.SupportCol {
    background: $color-bg-white;
    box-shadow: 5px 5px 20px $color-shadow-gray-dark;
    min-height: 300px;
    display: block;
    color: $color-text-black;

    > * {
        padding: 20px;
    }

    h4,
    h4 > a {
        font-weight: bold;
        color: $color-text-white;
    }
}

@media (max-width: 767px) {
    .SupportCol {
        margin: 15px;
        min-height: 80px;
    }
}
