{{#validated-input/x-input-wrapper
    model=this.model
    changeset=this.changeset
    errors=this.errors
    valuePath=this.valuePath
    validationStatus=this.validationStatus
}}
    <div local-class='Checkboxes'>
        {{#each this.options as |option|}}
            {{yield (hash
                option=option
                checkboxId=(concat this.elementId '__' option.id)
                checkbox=(component 'validated-input/checkboxes/x-checkbox'
                    relationArray=this.value
                    option=option
                    checkboxName=this.valuePath
                    ariaLabel=this.ariaLabel
                    disabled=this.disabled
                    checkboxId=(concat this.elementId '__' option.id)
                )
            )}}
        {{/each}}
    </div>
{{/validated-input/x-input-wrapper}}