.Handbook {
    /* Resolve some conflicts between e-c-addon-docs/tailwind and osf-style */

    :global(.ad-no-underline) {
        text-decoration: none;
    }

    :global(.docs-md__a),
    :global(.docs-md) a:global(.ember-view) {
        text-decoration: none;
        border-bottom-width: 1px;
        border-color: #b8c2cc;
        color: inherit;

        &:hover,
        &:focus {
            border-color: #8795a1;
        }
    }
}
