<Institutions::Dashboard::-Components::InstitutionalDashboardWrapper @institution={{this.model.institution}} as |wrapper|>
    <wrapper.main>
        <div local-class='panel-wrapper' data-analytics-scope='Users tab'>
            <Institutions::Dashboard::-Components::InstitutionalUsersList
                @modelTaskInstance={{this.model.taskInstance}}
            />
        </div>
    </wrapper.main>
</Institutions::Dashboard::-Components::InstitutionalDashboardWrapper>
