{{#if this.preprint.license.name}}
    <div local-class='license-text'>
        <h4>{{t 'preprints.detail.license'}}</h4>
        {{this.preprint.license.name}}
        <span>
            <FaIcon @icon='chevron-{{if this.showLicenseText 'up' 'right'}}'
            {{on 'click' (action 'toggleLicenseText') }}
            /> 
        </span>
    </div>
{{/if}}