{{#if showReopen}}
    <div
        role="button"
        {{action editSection}}
        local-class="pointer"
    >
        {{yield}}
        <p class="text-smaller" local-class="edit-message">
            {{t 'app_components.submit_section.click_to_edit'}}
        </p>
    </div>
{{/if}}