/* stylelint-disable */
.quickSearch {
    min-height: 700px;
    background: #C5D6E6 url('/assets/images/dashboard/bg6.jpg') top center repeat-y;
    background-size: cover;
}

.public-projects-box {
    background: rgba(255, 255, 255, 0.22);
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 20px;

    > a:hover {
        text-decoration: none;
    }
}

.newAndNoteworthy {
    min-height: 650px;
    background: $color-bg-gray-blue-dark;
    padding-top: 25px;
    color: $color-text-white;
}

.bg-web {
    background: #166595 url("/assets/images/home/bg-web.png") no-repeat center top;
    background-size: cover;
}

.institutions-panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

.meetings {
    color: $color-text-white;
}

.preprints {
    background: $color-bg-gray-blue-dark;
    color: $color-text-white;
}

.btn-banner {
    box-shadow: 0 0 9px -4px #000;
    width: 70%;
}

.quick-project button {
    appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.load-nodes {
    font-size: 2em;
}

.load-nodes:hover {
    color: $color-text-black;
}

.load-nodes-button:hover,
.load-nodes-button:focus,
.load-nodes-button:active,
.load-nodes-button:focus:active {
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
    outline-width: 0;
}

.quick-project img {
    margin-top: 30px;
    border: 3px solid $color-border-white;
    opacity: 0.6;
}

.node-col-headers {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .node-col-headers {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .node-sort-dropdown {
        display: none;
    }
}

.quick-project label {
    font-weight: normal;
}

.prevent-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// .blank-line {
//     margin-bottom: 15px;
// }

.quick-search-input {
    width: 70%;
    margin: 10px auto;

    input {
        height: 38px;
        border-radius: 5px;
        display: inline-block;
        padding-right: 40px;
    }

    span {
        color: $color-text-gray-dark;
        display: inline-block;
        margin-left: -36px;
        background: $color-bg-gray-light;
        border-radius: 12px;
        font-size: 13px;
        padding: 1px;
        width: 26px;
    }
}

.quick-search-col {
    padding-left: 5px;

    span {
        height: 28px;
        vertical-align: bottom;
        display: table-cell;
    }
}

@media (min-width: 768px) {
    .quick-search-contents {
        min-height: 880px;
    }
}
@media (max-width: 768px) {
    .quick-search-contents {
        min-height: 1450px;
    }
}

.quick-search-table {
    background: rgba(255, 255, 255, 0.49);
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.prereg-banner p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}

.loading-dashboard-item {
    opacity: .5;
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.osf-project-navbar a.project-title {
    max-width: 100%;
}

.quick-search-input > input::placeholder {
    color: $color-text-placeholder-grey-dark;
    opacity: 1;
}

.iframe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;

    .osf-video {
        width: 560px;
        height: 315px;
    }
}

