<div class='dashboard-page'>
    <div class="quickSearch">
        <div class="container p-t-lg">
            <div class="row m-t-lg">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class='col-xs-9'>Dashboard</h2>
                            <div class='m-b-lg col-xs-3'>
                                <div class='pull-right'>
                                    <button class='btn btn-success btn-success-high-contrast m-t-md f-w-xl'>Create new project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class='row quick-project'>
                                <div class='col-xs-12'>
                                    <div class='m-b-sm text-center'>
                                        <div class="m-v-sm quick-search-input">
                                            {{input placeholder="Search your projects" class='form-control' value=textValue type="text"}}
                                        </div>
                                    </div>
                                    <p class="text-center f-w-lg">
                                        Go to <a href="/myprojects/">My Projects</a> to organize your work or <a href="/search/">search</a> the OSF
                                    </p>
                                    <div class='quick-search-table'>
                                    </div>
                                    <div class="text-center">
                                        <button class="col-sm-12 text-muted">
                                            {{fa-icon 'caret-down' class='m-b-xl' }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>