.osf-institution-link-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-bottom: 10px;

    img {
        width: 35px;
        height: 35px;
    }

    .img-circle {
        border-radius: 50%;
        margin-right: 15px;
    }


    .img-responsive {
        display: block;
        max-width: 100%;
    }

    .img-horizontal {
        margin-top: 10px;
    }

}

.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.content-container {
    width: 100%;
    margin-top: 20px;

    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}
