.osf-institution-link-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .img-circle {
        border-radius: 50%;
        padding: 15px;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
    }

}

