{{title (t 'registries.overview.components.title')}}
<h3>{{t 'registries.overview.components.title'}}</h3>

{{#paginated-list/has-many
    modelTaskInstance=this.model.taskInstance
    relationshipName='children'
    as |list|
}}
    {{#list.item as |child|}}
        <NodeCard @node={{child}} />
    {{/list.item}}
    {{#list.empty}}
        <p>{{t 'registries.overview.components.no_components'}}</p>
    {{/list.empty}}
{{/paginated-list/has-many}}
