{{#if (not (or this.model.taskInstance.isRunning this.shouldHideNodeNavbar))}}
    <NodeNavbar
        @node={{this.model.taskInstance.value}}
    />
{{/if}}
<div data-analytics-scope='Node' role='main'>
    {{outlet}}
</div>
<JoinOsfBanner />
