{{#unless this.model.taskInstance.isRunning}}
    <NodeNavbar
        @node={{this.model.taskInstance.value}}
    />
{{/unless}}
<div data-analytics-scope='Node'>
    {{outlet}}
</div>
<JoinOsfBanner />
