/* stylelint-disable */

.Institutions {
    &__logo {
        background: url('img/institutions-logo.png') top center no-repeat;
        height: 70px;
        background-size: contain;
    }

    &__block {
        background:#214661 url('img/preprints-bg.jpg') top center ;
        background-position-y: -50px;
        padding-bottom: 30px;
        border-bottom: 1px solid #dddddd;
        color: white;
        h1 {
            font-size: 41px;
            font-weight: 300;
        }
        a:not(.btn) {
            color: #80c2f7;
            text-decoration: underline;
        }
        .btn-info {
            color: #fff
        }
    }

    &__header {
        padding-top: 100px;
    }

    &__footer {
        padding-top: 40px;
        margin-bottom: -25px;
    }

    &__page {
        width: 100%;
    }

    &__browser {
        min-height: 700px;
        background: #C5D6E6 url('/static/img/bg6.jpg') top center repeat-y;
        background-size: cover;
    }

    &__table {
        background: rgba(255, 255, 255, 0.49);
        padding: 10px 15px;
        border-radius: 2px;
        margin-top: 20px;
        margin-bottom: 50px;

        &__item {
            background-color: #fff;
            box-shadow: 1px 1px 1px #ccc;
            padding: 6px;
            color: #555;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            .col-xs-9 {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    &__logo {
        height: 100px;
    }

    &__pagination {
        font-size: 20px;
        cursor: pointer;
        color: grey;
    }

    &__sorting {
        span {
            display: inline-block;
        }
    }
}
