<div local-class='Files'>
    {{#each this.fileList as |file|}}
        <OsfLink @href={{file.viewUrl}}>
            {{file.selectedFileName}}
        </OsfLink>
    {{else}}
        {{t 'registries.overview.form_view.no_files'}}
    {{/each}}
</div>
