.DevBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 8px;
    background-color: $color-bg-red;
    color: $color-text-white;
    padding: 0.5em;

    strong {
        text-transform: uppercase;
    }
}
