{{#if hasPages}}
    <span local-class='SimplePaginator__element'>
        {{#bs-button disabled=(not hasPrev) onClick=(action previousPage)}}
            <span aria-label="{{t 'paginator.previous'}}">
                &lt;
            </span>
        {{/bs-button}}
    </span>
    <span local-class='SimplePaginator__element'>
        {{t 'paginator.page' page=curPage max=maxPage}}
    </span>
    <span local-class='SimplePaginator__element'>
        {{#bs-button disabled=(not hasNext) onClick=(action nextPage)}}
            <span aria-label="{{t 'paginator.previous'}}">
                &gt;
            </span>
        {{/bs-button}}
    </span>
{{/if}}