.DashboardItem {
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    color: #555;
    padding: 6px;

    &__col {
        padding-left: 5px;
    }

    &__ancestry {
        font-style: italic;
    }
}

.DashboardItem:hover {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}
