// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.status-flow-container {
    border-right: 1px solid $color-border-gray-darker;

    .selected {
        font-weight: bold;
    }

    &.mobile {
        height: fit-content;
    }
}
