// stylelint-disable max-nesting-depth, selector-max-compound-selectors

$side-container-width: 205px;
$page-height: 1000px;

.status-flow-container {
    height: $page-height;
    width: $side-container-width;
    border-right: 1px solid $color-border-gray-darker;

    &.mobile {
        height: fit-content;
    }
}
