// stylelint-disable max-nesting-depth, selector-max-compound-selectors

.author-assertions-page-container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .author-assertions-container {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .header-label {
            font-size: 11px;
            text-transform: uppercase;
            padding-bottom: 2px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .author-assertions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 10px;

            .assertions-container {
                justify-content: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                .assertion-header-label {
                    font-size: 11px;
                    text-transform: uppercase;
                    padding-bottom: 2px;
                    font-weight: bold;
                    padding: 0 20px;
                }
            }
        }
    }
}
