<div>
    <div>
        <img src={{this.provider.assets.square_color_no_transparent}} alt={{this.headerText}} />
    </div>
    <div>{{this.provider.name}}</div>
    <div>{{html-safe this.provider.description}}</div>
</div>
