{{title (t 'registries.drafts.draft.review.title')}}

<div local-class=''>
    <div class='container'>
        <div class='row'>
            <h1>{{t 'registries.drafts.draft.review.title'}}</h1>
            {{!-- Please verify the information on the registry before submitting. --}}
        </div>
    </div>
</div>

