{{#if @result.fileTitle}}
    <div>
        <span>{{t 'osf-components.search-result-card.title'}}: {{@result.fileTitle}}</span>
    </div>
{{/if}}
{{#if @result.description}}
    <div>
        <span>{{t 'osf-components.search-result-card.description'}}: {{@result.description}}</span>
    </div>
{{/if}}