<section
    local-class='versionMetadata'
>
    <p
        data-test-version-metadata-title
        local-class='versionMetadata-title'
    >
        {{if @revision.revisionNumber (t 'registries.overview.versionMetadata.updateTitle') (t 'registries.overview.versionMetadata.originalTitle')}}
    </p>
    {{!-- TODO: add description for what fields have changed --}}
    <p data-test-version-metadata-date>
        {{if @revision.revisionNumber (t 'registries.overview.versionMetadata.date' date=(moment-format @revision.date 'MMM DD, YYYY'))
            (t 'registries.overview.versionMetadata.originalDate' date=(moment-format @revision.date 'MMM DD, YYYY'))}}
    </p>
    {{#if @revision.revisionNumber}}
        <p data-test-version-metadata-reason>
            {{t 'registries.overview.versionMetadata.reason'}}
            <br>
            <i>{{if @revision.revisionJustification @revision.revisionJustification (t 'registries.overview.versionMetadata.noReason')}}</i>
        </p>
    {{/if}}
</section>
