&__navbar {
    width: calc(100% + 20px);

    .navbar-nav { // sass-lint:disable-line class-name-format
        margin: 0;
        width: 100%;
    }
}

&__navbar-item {
    max-width: calc(100% - 50px);
    min-height: 50px;
}

@media (max-width: 767px) {
    &__navbar-item {
        margin-left: 30px;
    }
}

&__project-title,
&__project-title--active {
    max-width: 100%;
}

&__project-title--active {
    line-height: normal;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
