& {
    width: calc(100% + 20px);
}

.NavbarList {
    margin: 0;
    width: 100%;

    &__item {
        max-width: calc(100% - 50px);
        min-height: 50px;

        &__title,
        &__title--active {
            max-width: 100%;
        }

        &__title--active {
            line-height: normal;
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    .NavbarList__item {
        margin-left: 30px;
    }
}
