<nav class="navbar osf-project-navbar row" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav" id="quickfilesNav">
            <li class="{{if onQuickfiles 'active'}}">
                {{#link-to 'user-quickfiles' user class='project-title'}}
                    {{t 'quickfiles.title' user-name=user.fullName}}
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>
