<div class="container">
    <h3>
        {{#if user}}
            {{#link-to 'guid-user.quickfiles' user.id}}
                {{t 'quickfiles.title' user-name=user.fullName}}
            {{/link-to}}
        {{else}}
            &nbsp;
        {{/if}}
    </h3>
</div>
