<nav class="navbar osf-project-navbar row" role="navigation">
    <div class="container">
        <div class="">
            <ul class="nav navbar-nav">
                <li class="{{if onQuickfiles 'active'}}">
                    {{#link-to 'user-quickfiles' user class='project-title'}}
                        {{t 'quickfiles.title' user-name=user.fullname}}
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</nav>
