<div class="container">
           <h3>
               {{#link-to
                'user-quickfiles'
                user
            }}
                {{t 'quickfiles.title' user-name=user.fullName}}
            {{/link-to}}
           </h3>
</div>
