<nav class="navbar osf-project-navbar row" role="navigation">
    <div class="container">
        <div class="">
            <ul class="nav navbar-nav">
                <li class="{{if onQuickfiles 'active'}}">
                    <a href="/{{user.id}}/quickfiles/" class="project-title">
                        {{user.fullName}}'s Quick Files
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
