<p class='m-t-lg'>
    {{t (concat
        'move_to_project.convert_or_copy_message.'
        (if this.isChildNode 'component' 'project')
    )}}
</p>
{{#unless this.isPublicProject}}
    <p data-test-no-longer-public class='text-danger m-t-sm'>
        {{t (concat
            'move_to_project.no_longer_public_warning.'
            (if this.isChildNode 'component' 'project')
        )}}
    </p>
{{/unless}}
{{#if this.shouldShowError}}
    <div class='text-danger'>
        {{t 'move_to_project.storage_limit.error'}}
    </div>
{{/if}}
{{#if this.shouldShowWarning}}
    <div class='text-warning'>
        {{t 'move_to_project.storage_limit.warning'}}
    </div>
{{/if}}